[2016-05-02 11:38] Injac opened #1 "Building on Raspbian - Raspberry PI 3 - Errors and workaround"
Trying to build the gateway sources on a PI 3, using the **build.sh** script, fails with the following error:

`[ 43%] Building C object deps/azure-iot-sdks/c/azure-uamqp-c/tests/session_unittests/CMakeFiles/session_unittests_exe.dir/main.c.o
Linking CXX executable session_unittests_exe
Linking CXX executable mqtt_client_unittests_exe
[ 43%] Built target session_unittests_exe
[ 43%] Built target m

[2016-05-02 15:32] andrew-buckley commented on #1
Hi @Injac, which operating system are you using on your Pi 3?

[2016-05-02 16:24] Injac commented on #1
Hi @andrew-buckley ,

I am using Raspian 4.1. Here are the kernel informations (and some more):

**Linux gate369 4.1.20-v7+ #867 SMP Wed Mar 23 20:12:32 GMT 2016 armv7l GNU/Linux**

cat /proc/version output:

**Linux version 4.1.20-v7+ (dc4@dc4-XPS13-9333) (gcc version 4.9.3 (crosstool-NG crosstool-ng-1.22.0-88-g8460611) ) #867 SMP Wed Mar 23 20:12:32 GMT 2016**

output lsb_release -da

**Distribu

[2016-05-02 16:26] Injac commented on #1
Sorry, hit the wrong button. Accidentally closed the issue.

[2016-05-02 17:51] avranju commented on #1
Thanks for the report @Injac. I was able to reproduce the test case failure (`umocktypes_c_unittests`) on a Raspberry Pi 3. We're getting this addressed.

[2016-05-02 18:14] Injac commented on #1
Ok. Thanks for taking care of this @avranju .

[2016-05-04 05:13] asebak opened #2 "Creating and Debuging a new module"
I really like what I have seen in the iot gateway sdk.  Question: Since it's not explained in the documentation, what is the best approach for creating a custom module and debugging it?

[2016-05-04 05:40] asebak commented on #2
I don't know if you guys are using visual studio or recommend using something else?

[2016-05-04 05:46] aribeironovaes commented on #2
Hi Ahmad,
We have been using Visual Studio for windows and windbg for Linux.
As for new modules the best approach would be taking a look into our existing ones (hello world and logger are the simplest than you can take a look into BLE Module and IotHub) and create a custom one based on that. 
Let us know how it goes!
Thanks,
Angelo Ribeiro
Sent from Outlook Mobile

    ____________________________

[2016-05-04 05:59] aribeironovaes commented on #2
Sorry for the typo, I meant wingdb for linux :) 
Thanks
Angelo Ribeiro

Sent from Outlook Mobile

On Tue, May 3, 2016 at 10:40 PM -0700, "Ahmad" <notifications@github.com> wrote:

I don't know if you guys are using visual studio or recommend using something else?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly or view it on GitHub

[2016-05-04 06:10] andrew-buckley commented on #2
Hi @asebak, thanks for the question. Sounds like you're developing in a Windows environment so I'd recommend using Visual Studio.

To add to Angelo's answer:

Our project uses CMake to generate Visual Studio project files and a solution file called **azure_iot_gateway_sdk** which may be of interest.

If it is of interest here's a bit more info: Opening that solution file will give you, among many

[2016-05-04 14:55] asebak commented on #2
Thanks a lot for the help you guys, out of curiosity are there any plans to integrate the SDK into a project template in Visual Studio?

[2016-05-04 15:52] asebak commented on #2
![image](https://cloud.githubusercontent.com/assets/2384411/15020083/72c460d0-11d5-11e6-8fbc-a78736e545da.png)
When I try opening to the solution file I get all these errors.  Should I be using visual studio 2015 or 2013? I had all the perquisites setup.

[2016-05-04 16:09] andrew-buckley commented on #2
Hey @asebak, cah you share what the errors are? We've been using VS 2015

[2016-05-04 16:43] asebak commented on #2
agentmacros_unittests_dll

Message

 deps\azure-iot-sdks\c\serializer\tests\agentmacros_unittests\agentmacros_unittests_dll.vcxproj: The application which this project type is based on was not found. Please try this link for further information: http://go.microsoft.com/fwlink/?LinkId=628321&projecttype=8BC9CEB8-8B4A-11D0-8D11-00A0C91BC942

agentmacros_unittests_exe

Message

 deps\azure-iot-sdks\c

[2016-05-05 02:49] avranju commented on #2
@asebak It's strange that VS was attempting to perform a project migration at all for you. **CMake** should have generated the VS project files directly in the format expected by the version of VS you have installed.

One possibility might be that you have both VS 2013 and VS 2015 installed and you ran **CMake** from a VS 2013 developer command prompt and opened the generated solution file from VS

[2016-05-05 04:41] asebak commented on #2
I managed to get it working by reinstalling vs, I will close this issue now.

[2016-05-05 04:41] #2 closed

[2016-05-09 14:36] Injac opened #3 "Build errors on Ubuntu Server 15.10"
Trying to run (master branch clone on server) **build.sh** from the **tools** directory, results in the following error message:

`
-- The C compiler identification is GNU 5.2.1
-- The CXX compiler identification is GNU 5.2.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
--

[2016-05-09 14:40] #3 closed

[2016-05-11 09:06] SurinderGanotra opened #4 "azure-iot-gateway-sdk for ARM based Board"
We have downloaded and build the azure-iot-gateway-sdk for win32 platform on windows 10 as per the instructions provided in the devbox_setup.md and getting_started.md. But we are not able to build the gateway sdk for ARM platform for Raspberry Pi 3 board.
Could you please help me to build the gateway for ARM platform in windows.

[2016-05-11 14:36] avranju commented on #4
Just to confirm, are you trying to build this for Windows 10 IoT Core?

[2016-05-11 15:16] SurinderGanotra commented on #4
Yes, we are trying to build it for windows 10 IOT Core, but for ARM based
board Rasbperry PI 3.
On 11-May-2016 8:06 PM, "Rajasekharan Vengalil" <notifications@github.com>
wrote:

[2016-05-13 06:37] SurinderGanotra commented on #4
After some struggle, I have found the way to build the Microsoft Gateway SDK for ARM processor using Visual Studio, below are the steps to build the SDK for ARM configuration
1.	Go to Configuration Manager in Visual Studio and create new configuration ARM based on Win32.
2.	Go to All Options of Linker\Librarian under the properties of each project and remove the Additional Options( /machine:X86 %(

[2016-05-13 06:37] #4 closed

[2016-05-16 19:02] avranju commented on #4
Thanks for the update @SurinderGanotra. We'll add this to the backlog anyway and see if this process can be made simpler.

[2016-05-17 06:29] SurinderGanotra opened #5 "Edge Analytics in azure-iot-gateway-sdk"
Hi,
I was trying to find out the modules for Edge Analytic's in the azure-iot-gateway-sdk, but not able to find out in the SDK Gateway. Does it available in the Gateway SDK or we need to develop custom modules for edge analytics.

[2016-05-19 20:59] chipalost commented on #5
Hi Surinder, we do not have an edge analytics module available at the moment but providing one is a top priority for us. I’d love to find out more about your scenario. Please email me at cstreet@microsoft.com.

[2016-05-24 09:53] SKVasanth opened #6 "Errors while running CTest"
Team,

FYI, Below Tests are failed while running SDK in ubuntu 16.04 LTS VM.

96% tests passed, 4 tests failed out of 102

Total Test time (real) =   2.81 sec

The following tests FAILED:
	 61 - iothubclient_http_e2etests (Failed)
	 63 - iothubclient_mqtt_e2etests (Failed)
	 65 - iothubclient_amqp_e2etests (Failed)
	 91 - gw_e2etests (Failed)
Errors while running CTest

61/102 Test  #61: iothubcli

[2016-05-24 14:56] andrew-buckley commented on #6
Hi @SKVasanth, it looks like you're trying to run our end to end tests. In order to do this you will have to set a couple of environment variables. You will need to have a valid IotHub and set the environment variables "IOTHUB_CONNECTION_STRING" and "IOTHUB_EVENTHUB_CONNECTION_STRING" to valid IotHub and EventHub connection strings. Once you do this you will be able to run the end to end tests. Do

[2016-06-06 20:10] #5 closed

[2016-06-06 20:30] #6 closed

[2016-06-07 04:59] chaolong0129 opened #9 "How to receive event from cloud ?"
Hi,
   Recently, I study the azure-iot-gateway-sdk. I can build it successfully. I also test it and add debug message. it always push the data to my iot-hub successfully. I found when I use device-explorer utility, my simulated_device_cloud_upload_sample can not receive the message from cloud. It just begins to receive at first time, then it would not receive any message. If I want to receive the

[2016-06-07 09:41] #9 closed

[2016-06-07 16:48] darobs commented on #9
@chaolong0129, the default polling time for receiving message in the HTTP transport is set fairly high (minutes), so you will not see an immediate response. If you would like to see faster responses, you may add a call like this
[code]
into `PERSONALITY_create` after the IoTHubClient handle has been created.

Note that depending on volume of messages, this may be subject to throttling, for more de

[2016-06-08 17:08] dcristoloveanu commented on #1
@Injac A fix for this has been checked in to the develop branch.
Thanks for reporting it!
/Dan

[2016-06-08 17:08] #1 closed

[2016-06-18 11:59] Injac commented on #1
@dcristoloveanu Thanks for the quick fix :)

[2016-06-23 12:50] tedvanderveen opened #10 "Nuget package for Microsoft.Azure.IoT.Gateway"
When using .Net bindings and create a new module using .Net, it would be great to have a Nuget package available that adds the Microsoft.Azure.IoT.Gateway assemblies.

[2016-06-23 13:05] aribeironovaes commented on #10
Thanks for the feedback Ted!
It is on our backlog to add a Nuget package.
Thanks,
Angelo Ribeiro. 

Get Outlook

		_____________________________
From: Ted van der Veen <notifications@github.com>
Sent: Thursday, June 23, 2016 5:50 AM
Subject: [Azure/azure-iot-gateway-sdk] Nuget package for Microsoft.Azure.IoT.Gateway (#10)
To: Azure/azure-iot-gateway-sdk <azure-iot-gateway-sdk@noreply.github.com>

[2016-06-23 13:29] tedvanderveen opened #11 "Samples for module devloped in .Net and using .Net bindings"
Please provide sample code for developing modules in C#/.Net using the .Net bindings.
Can the .Net implementations of IGatewayModule also reference other .Net assemblies? Do these DLLs then need to be included in the json configuration file?

[2016-06-23 13:30] tedvanderveen opened #12 "Can AMQP and MQTT protocols be used?"
Can AMQP and MQTT protocols be used for Gateway communication with Azure IoT Hub? At the moment only HTTP transport is provided in the samples.

[2016-06-23 16:26] aribeironovaes commented on #11
Thanks again for the feedback Ted.

.Net Binding is under development right now, so sample code (and How To
Guide Document) is on it's way to github.

Angelo Ribeiro.

On Thu, Jun 23, 2016 at 6:29 AM, Ted van der Veen <notifications@github.com>
wrote:

--
---
Angelo Ribeiro
Msc - Federal University of Pernambuco
Team in Training Alumni Triple Crowned! :)

[2016-06-23 16:35] darobs commented on #12
Thanks for the question, @tedvanderveen. We provided a sample for the HTTP transport because multiple IoTHub devices may use a shared HTTP transport (i.e. we only establish one TLS connection).   AMQP and MQTT may also be used, but each device instance will create its own transport.

As shared transports become available for the other protocols, we will update the samples to include them.

[2016-06-23 19:00] tedvanderveen commented on #12
Thanks @darobs. Does it use Secure WebSockets (over TLS) to ensure cloud-to-device communications through firewalls etc and bi-directional support?

[2016-06-23 19:02] tedvanderveen commented on #11
Great. Any estimate on availability? Combined with #10 maybe? :)

[2016-06-23 19:31] aribeironovaes commented on #11
Hi Ted,

i just missed the second part of your question. "Can the .Net implementations of IGatewayModule also reference other .Net assemblies? Can the .Net implementations of IGatewayModule also reference other .Net assemblies?"

So, yes, your module in .NET (implementing IGatewayModule) can also reference other .Net Assemblies. These other doesn't need to be on the JSON configuration file. The fo

[2016-06-24 10:46] tedvanderveen commented on #11
@aribeironovaes Thanks again! Can you contact me at ted@vanderveen.net please? I have a more general question about the lib. Or are you in a Slack community where I can contact you maybe?

[2016-06-24 16:24] aribeironovaes commented on #11
You're welcome Ted,

No, we don't have an external Slack Community.

The best way to reach us out is from GitHub Issues or Stack Overflow (especially the iot-gateway-sdk tag). This is the best way so others can also learn from your questions/answers and also the whole team is monitoring these messages, so if I don't see a message somebody else on the team will answer that.

That said feel free to

[2016-06-27 17:16] aribeironovaes commented on #10
Hi Ted,

Since it's on our backlog, I will close this Issue.
Let us know if you have more feature request/suggestions.

Angelo Ribeiro.

[2016-06-27 17:18] aribeironovaes commented on #11
Hi Ted,

Hopefully I was able to answer this question. I'm going ahead and close this issue. Feel free to ask more questions. You can take a look into latest version os .NET Binding (develop branch), keep in mind that since it's develop branch is can/may change, but the bulk of development is there already.

Let us know,

Angelo Ribeiro.

[2016-06-27 17:18] #11 closed

[2016-06-27 19:56] damonbarry commented on #12
@tedvanderveen Yes, I believe the IoT Hub messaging SDK supports AMQP and MQTT over websockets, although as mentioned we don't have sample _gateway_ modules yet for these protocols.

[2016-06-28 07:17] tedvanderveen opened #13 "Handle network connectivity issues"
How does the Gateway SDK handle IP connectivity or Azure IoT Hub availability issues?
In case Message delivery fails, should the message be re-published to the Bus? What is the preferred way to implement a delay between connection retries?

[2016-06-28 07:18] tedvanderveen commented on #11
Thanks for the initial samples @aribeironovaes :)

[2016-06-28 07:24] tedvanderveen commented on #10
@aribeironovaes I'm not sure why you closed the issues, as the issue is not resolved. If it is on the backlog, the best practice I think is to apply milestone/assignee and leave the issue open so anyone can track progress?

[2016-06-28 14:32] aribeironovaes commented on #10
Thanks for the Feedback Ted.
We use issue to track issues and not feature request/milestone tracking. I will talk with the team and check if they want to use issues to get feedback on feature request, but it ia not our practice to keep issues opened for tracking features/progress of product.
Thanks,
Angelo Ribeiro

Get Outlook

		_____________________________
From: Ted van der Veen <notifications@

[2016-06-28 18:47] chipalost commented on #10
Hi Ted, send me an email at cstreet@microsoft.com and we can talk about the experience you'd like to see from such a package.

[2016-06-29 19:34] tedvanderveen commented on #10
Hi @chipalost, at the moment if you want to implement the base classes and interfaces defined in the Microsoft.Azure.IoT.Gateway assembly, you have to add a reference to that project source code from your own code or copy a built DLL into your own project. This can be done more efficient just by adding a (pre-release) Nuget package for Microsoft.Azure.IoT.Gateway when it comes available.

[2016-06-29 21:29] darobs commented on #13
Hi @tedvanderveen, thanks for your question.  At this time, for short-term connectivity issues, we are relying on the IoT-Device-SDK's queueing mechanism.

However , this won't survive a gateway shutdown or catastrophic failure. We recognize this as a need, and it's in our backlog to address.

[2016-06-29 21:40] darobs commented on #12
Expanding on Damon's answer: Yes, the IoT-Device-SDK can use TLS for the WebSockets communication, and it is bi-directional.
Here is the code that shows that:
https://github.com/Azure/azure-iot-sdks/blob/develop/c/iothub_client/src/iothubtransportamqp_websockets.c, line 14
That “true” on the configuration is to set WSIO_CONFIG->use_ssl, which enables WebSockets over SSL down on uamqp layer.

The d

[2016-08-01 20:16] bfjelds opened #16 "build_uwp nuget restore should point at Microsoft.Azure.IoT.Gateway.Test.sln"

[2016-08-01 20:37] bfjelds opened #17 "IotCoreGatewayCpp is missing project file (vcxproj)"
Several of the UWP sample projects are missing their proj file.

[2016-08-03 15:45] bfjelds commented on #16
Fixed:  https://github.com/Azure/azure-iot-gateway-sdk/commit/da4d4378054e1365690547cc61ce64d5beb7a90e

[2016-08-03 15:45] #16 closed

[2016-08-03 22:09] bfjelds commented on #17
Fixed: https://github.com/Azure/azure-iot-gateway-sdk/commit/e68aae9e629edfbb8b276449494a3d65869bf98e

[2016-08-03 22:09] #17 closed

[2016-08-05 19:43] jonbgallant opened #19 "byte array is not a gateway message serialization"
Getting this error after I hit enter when hello_world sample is running.

`/consolelogger.c Func:consolelogger_log Line:31 byte array is not a gateway message serialization`

[2016-08-05 19:57] darobs commented on #19
Thanks @jonbgallant. This is a known problem which we are working towards resolving.  It does not affect the function of the gateway, but it is an annoyance that we're receiving it. The current PubSub message bus implementation is not complete and this is a side effect of that.  I added a task in the current PBI to ensure this is resolved in the next sprint.

[2016-08-12 08:44] yfakariya opened #20 "[.NET binding] Suggestions about .NET binding"
Hi, thank you for great work!
I know this is still beta, but I found some improvements about .NET binding.

1. [Suggestion] Add .NET Core support. Although coreclr itself does not support ARM linux, it is valuable to support .NET Core as well as UWP. I found that some hosting API does not exist in coreclr of non Windows builds, but I think it can be solved moving instantiation of managed objects f

[2016-08-12 20:41] aribeironovaes commented on #20
Thanks a lot Yusuke!

These are great feedback.

Can I ask you to open separate Issues on github for each of this so we can
track the resolution separately?

Again, thanks a lot,

Angelo Ribeiro.

On Fri, Aug 12, 2016 at 1:44 AM, Yusuke Fujiwara <notifications@github.com>
wrote:

--
---
Angelo Ribeiro
Msc - Federal University of Pernambuco
Team in Training Alumni Triple Crowned! :)

[2016-08-12 23:13] yfakariya opened #21 "[.NET Binding][Suggestion] Add .NET Core support in .NET Binding"
(separated from #20)
It is great if .NET Binding also supports .NET Core (or add .NET Core binding) for C# (or other .net) code modules to run in linux.

Although coreclr itself does not support ARM linux, it is valuable to support .NET Core as well as UWP. I found that some hosting API does not exist in coreclr of non Windows builds, but I think it can be solved moving instantiation of managed ob

[2016-08-12 23:16] yfakariya opened #22 "[.NET Binding][Suggestion] Provide class based API instead of interface for .NET binding"
(separated from #20)
For .NET binding, provide class based API instead of interface(`IGatewayModule`) like the Java binding. It has following problems:
- API usability. App developers must always implement all methods even if they want to only one method. `SensorModule` sample code is good example for it. Base class with nop virtual methods can solve this.
- API's backward compatibility. The inter

[2016-08-12 23:19] yfakariya opened #23 "[.NET Binding][Improvement] Use preferred types for interop"
(separated from #20)
Use `IntPtr` instead of `long` for pointer or handle types in the surface between managed code and native code. This solves a potential marshaling problem when the gw sdk runs in x86 or arm32 in the future.

[2016-08-12 23:27] yfakariya opened #24 "[.NET Binding]Implicit string marshaling corrupts configuration parameter"
(separated from #20)

`configuration` parameter of `IGatewayModule.Create` will be corrupted when encoded characters are not incompatible between ANSI(depends on setting of Windows) and UTF-8. That is, only ASCII characters can be used in `configuration` parameter.

The string stored in `variant_t` will be considered as ANSI encoded string, so unexpected behavior will be caused. I think it is easi

[2016-08-12 23:35] yfakariya commented on #20
@aribeironovaes Sure! I separated above four issues into individual issues. So, I'll close this issue.

[2016-08-12 23:35] #20 closed

[2016-08-13 05:07] aribeironovaes commented on #20
Thanks a lot again Yusuke!
We will triage and label each item accordingly.
Angelo Ribeiro

Get Outlook

		_____________________________
From: Yusuke Fujiwara <notifications@github.com>
Sent: Friday, August 12, 2016 4:35 PM
Subject: Re: [Azure/azure-iot-gateway-sdk] [.NET binding] Suggestions about .NET binding (#20)
To: Azure/azure-iot-gateway-sdk <azure-iot-gateway-sdk@noreply.github.com>
Cc: Men

[2016-08-13 05:42] tedvanderveen commented on #21
+1

[2016-08-13 21:39] darobs commented on #19
The latest commit on develop does not generate this annoyance message.

[2016-08-13 21:39] #19 closed

[2016-08-18 14:14] zerox1212 opened #27 "Python Binding"
Is there a plan to make a Python wrapper for the C implementation like https://github.com/Azure/azure-iot-sdks ?

[2016-08-19 11:27] twgcriot opened #28 "IoTHubHTTP Logger Module not working"
IoTHubHTTP Module can't connect to IoT Hub when running the TI Sensor sample:

**linaro@linaro-alip:~/Desktop/build/samples/ble_gateway_hl$ ./ble_gateway_hl** gateway_sample.json
Gateway is running.
[2016:08:19T11:19:40] Model Number: N.A.
[2016:08:19T11:19:40] Serial Number: N.A.
[2016:08:19T11:19:40] Firmware Revision Number: 1.5 (Oct 23 2013)
[2016:08:19T11:19:41] Hardware Revision Number: N.A.

[2016-08-19 16:11] andrew-buckley commented on #28
Hi @twgcriot. This issue was fixed a few weeks ago in our develop branch but the fix has not yet been merged into the master branch. I will be merging this into the master branch shortly.

Thanks!

[2016-08-19 16:17] twgcriot commented on #28
Thanks Andrew. Keep up the good work as this is an awesome sample!

[2016-08-19 17:38] avranju commented on #27
Adding @chipalost for comment.

[2016-08-19 18:30] chipalost commented on #27
Is the ask for a Python binding so that people can write modules in Python, similar to the bindings which allow development of node.js, Java, and C# modules?

[2016-08-19 22:53] andrew-buckley commented on #28
No problem, @twgcriot! This has now been checked in.

[2016-08-19 22:53] #28 closed

[2016-08-20 13:31] twgcriot opened #29 "Java Sample JSON File Configuration Issue"
Java Bindings and Java Modules build fine as per documentation.

However running the java_sample produces following error (**JSON config. file used attached**):
[java_sample.txt](https://github.com/Azure/azure-iot-gateway-sdk/files/428331/java_sample.txt)

Error: Time:Sat Aug 20 13:20:59 2016 File:/azure-iot-gateway-sdk/bindings/java/src/java_module_host_manager.c Func:JavaModuleHostManager_Create

[2016-08-20 16:25] andrew-buckley commented on #29
Hi @twgcriot, please ensure that the **full classpath** is present for both java modules.

Some background, the JVM is only instantiated once regardless of the number of modules that will be loaded. For this reason, it needs the full classpath of any/all classes that will be used during it's lifetime when it first starts and it needs to have all configuration data present too. For this reason, we

[2016-08-21 00:09] twgcriot commented on #29
Thanks Andrew. That fixed it.

[2016-08-21 00:09] #29 closed

[2016-08-30 18:21] aribeironovaes commented on #24
Again, Thanks for the feedback @yfakariya.
The bug is fixed and checked in into develop.
It will make to master soon.

Feel free to check and close the issue.

Angelo Ribeiro.

[2016-09-05 12:31] yfakariya commented on #24
Sorry for delay. I checked the latest master branch and saw that it is fixed. Thank you!

[2016-09-05 12:31] #24 closed

[2016-09-05 12:33] yfakariya opened #30 "Source file encoding should be UTF-8 instead of Latin-1"
I noticed that following files are saved as Latin-1 encoding, so it causes compilation error because of "treating warning as error" when the developer uses non Latin-1 code page console in Windows:

* deps/azure-c-shared-utility/inc/azure_c_shared_utility/xlogging.h
* deps/azure-iot-sdks/c/azure-uamqp-c/src/connection.c
* deps/azure-iot-sdks/c/azure-uamqp-c/src/frame_codec.c
* deps/azure-iot-sdks/

[2016-09-06 10:28] yphuangms opened #31 "[.NET Binding] Suggest to import "dotnet_hl.dll" in NativeDotNetHostWrapper instead of "dotnet.dll""
In "Microsoft.Azure.IoT.Gateway" project, "NativeDotNetHostWrapper" class imports "dotnet.dll" to get C function pointer of "Module_DotNetHost_PublishMessage".
Modules use .NET binding has pre-requirement to load "dotnet_hl.dll" in gateway executable.
As "Microsoft.Azure.IoT.Gateway" project reference is essential for modules developed using .NET, the gateway executable will need to load both "dot

[2016-09-06 16:35] darobs commented on #12
If you check out the latest master release, the ability to specify AMQP and MQTT as the protocol has been added to the iothub module.  We haven't added the support for a shared AMQP transport, as we are still waiting on the SDK support for this.

[2016-09-07 22:03] nominator opened #32 "Field Gateway protocol ingestion module to act as a TCP listener"
Hi,

I am new to Azure IoT. I am trying to figure out a way to connect existing telemetry devices with Azure IoT Hub. Field Gateway SDK seems to be the right place to start doing this, however, going through SDK's documentation I am not sure if it is possible to write a module that can connect to devices over the internet and communicate over TCP/UDP? The device I am planning to integrate is Telto

[2016-09-07 23:31] andrew-buckley commented on #32
Hi @nominator, glad to see you're having a look at the Azure IoT Gateway SDK. I'm assuming this device is not capable of running any of the Azure IoT Device SDKs, correct? It only reports telemetry data to some endpoint over internet?

And your thought is to create a module that can listen to this device and report that data to your IoT Hub?

Just want to clarify.

Thanks,
-Andrew

[2016-09-07 23:40] nominator commented on #32
Hi Andrew,
Yes you are absolutely correct.
Thanks
Nouman
On Sep 8, 2016 4:31 AM, Andrew Buckley <notifications@github.com> wrote:Hi @nominator, glad to see you're having a look at the Azure IoT Gateway SDK. I'm assuming this device is not capable of running any of the Azure IoT Device SDKs, correct? It only reports telemetry data to some endpoint over internet?

And your thought is to create a mod

[2016-09-07 23:53] andrew-buckley commented on #32
This seems like a great scenario for a gateway. You should be able to create a module that does the following:

1. Connects and listens to the FM1120 device for telemetry data
2. Upon receiving data, generates a new [Message](https://github.com/Azure/azure-iot-gateway-sdk/blob/master/core/devdoc/message_requirements.md) with all relevant data and publish this message onto the gateway. This message

[2016-09-08 00:04] nominator commented on #32
Thanks Andrew for sharing the info. I have gone through all of this documentation already. I will be using windows 10 to develop the gateway in visual studio. I am an experienced developer but haven't done any socket programming (assuming this is required for a tcp listener) on windows or other platforms. so I was not sure if the gateway sdk has libraries to build a tcp listener or do I need some

[2016-09-08 00:13] nominator commented on #32
Thats great. I think I have enough to get going. Thanks a lot Andrew.

[2016-09-08 15:33] WilliamBerryiii commented on #3
Leaving a note that the `--recursive` parameter is for the git checkout.
i.e. `git clone --recursive https://github.com/Azure/azure-iot-gateway-sdk.git`

[2016-09-08 16:32] andrew-buckley commented on #32
Great! If/when you feel this issue is resolved, please close it when you're ready.

[2016-09-08 17:41] #32 closed

[2016-09-13 18:33] damonbarry commented on #30
@yfakariya Sorry for the delay...can you file these issues in the azure-c-shared-utility and azure-iot-sdks repos, so we can track them more easily?  Thanks!

[2016-09-13 18:33] #30 closed

[2016-09-20 11:36] yfakariya commented on #30
Sure! Thank you for teach me proper repos.

[2016-09-23 08:26] BenjaminMellon opened #33 "Problem building the sample"
Hello,
I have a problem while building the sample, i run the build.cmd with a developer command prompt and i have those errors :
![cmake build error](https://cloud.githubusercontent.com/assets/22390147/18779169/1c33b000-8178-11e6-8a39-753576b71dbc.JPG)

Do you have solutions ?

[2016-09-23 15:12] darobs commented on #33
Hi @BenjaminMellon, thank you for looking at our project!

Usually, those type of errors are due to the submodules not being populated.  Please try this in the repository:
[code]

I hope that helps.  Please let me know if you still run into problems.

[2016-09-26 09:34] BenjaminMellon commented on #33
Hello @darobs and thanks for your answer,
I tried the command line, but had this error
![git error](https://cloud.githubusercontent.com/assets/22390147/18829527/f7a555ce-83dc-11e6-9066-50be4097ff7b.jpg)
So i tried to install git, i created a git repository, i added, commited and pushed the files but nothing changed. Always the same error. I think I'm missing something....

[2016-09-26 16:17] aribeironovaes commented on #33
Hi @BenjaminMellon,

The first error is because you have to be on the same folder you have cloned our repo in order to run the command mentioned by @darobs.

Let us know,

Angelo Ribeiro.

[2016-09-28 07:56] BenjaminMellon commented on #33
Hi @aribeironovaes and thank you for your answer,
I ran the build into the cloned repo and had this
![giterror3](https://cloud.githubusercontent.com/assets/22390147/18905112/d66cb754-8561-11e6-9dea-7dddcb335a87.JPG)

[2016-09-28 15:37] andrew-buckley commented on #33
Hi @BenjaminMellon,

Just to clarify, did you follow the Setup and Building instructions outlined [here](https://github.com/Azure/azure-iot-gateway-sdk/blob/master/doc/getting_started.md)?

When you clone the repo, you should either clone it recursively, or after cloning it, _cd_ into the root of the cloned repository and run the command @darobs described above. Then you should be able to either u

[2016-09-28 15:51] BenjaminMellon commented on #33
Hi @andrew-buckley ,
Thank you for solving my problem ! I didn't see the `git clone --recursive https://github.com/Azure/azure-iot-gateway-sdk.git` , just ran it and it works great.
Thank you all for the help.

[2016-09-29 21:32] gerrik84 opened #34 "DynamicLibrary_LoadLibrary() returned NULL"
i followed the instructions of sample_ble.md and https://azure.microsoft.com/en-us/documentation/articles/iot-hub-gateway-sdk-physical-device/ at the and when i wana start the /ble_gateway_hl by./build/samples/ble_gateway_hl/ble_gateway_hl ./samples/ble_gateway_hl/src/gateway_sample.json i get some errors...

Error: Time:Thu Sep 29 21:19:15 2016 File:/home/root/azure-iot-gateway-sdk/core/src/modul

[2016-09-29 23:30] darobs commented on #34
Hi @gerrik84, thank you for looking at our project.  That error is an indication that the path in the JSON does not point to the library file.
The two most likely reason I can think of are:

- file is missing (build error), or
- `gateway_sample.json` has an error in it.

Based on your output,  the module path in the gateway_sample.json should look like this:

Please check to make sure the file exi

[2016-09-29 23:33] darobs commented on #33
HI @BenjaminMellon, I'm glad @andrew-buckley solved your issue.  I'm going to close this Issue.

[2016-09-29 23:33] #33 closed

[2016-09-30 07:58] gerrik84 commented on #34
Thanks for your quick answear,

i looked up the module path there is no libiothub_hl.so even the directory  /home/root/azure-iot-gateway-sdk/build/modules/iothub dont exists. In my case the only directory where i can find a libiothub file is in azure-iot-gateway-sdk/build/modules/iothubhttp/libiothubhttp_hl.so

so i changed my gateway_sample.json to

    {
      "module name": "IoTHub",
      "mod

[2016-09-30 08:00] gerrik84 commented on #34
the uuid is from https://azure.microsoft.com/en-us/documentation/articles/iot-hub-gateway-sdk-physical-device/ and i use the same device like in the documentation.

[2016-09-30 21:53] darobs commented on #34
Some of the problems I've run into:
- If you're using a SensorTag, it will power down if it's inactive for a while, and I've seen a similar error.
- I connected to the SensorTag to another device, and it needs to be reconnected to the gateway device.

There are probably more ways for this setup to fail, but those are the problems I've had, barring the ones you've already confirmed aren't a problem

[2016-09-30 23:35] leeprtc opened #35 "Build with .NET binding fails: missing metahost.h"
I followed the directions in Getting Started document. But when I ran"build.cmd --enable-dotnet-binding", I'm getting errors. The reason is it cannot find metahost.h. This affects dotnet, dotnet_hl, dotnet_hl_static, and dotnet_static projects.

Looking through my system, metahost.h can be found in the NETFXSDK include directory. Checking the project properties for dotnet\* projects, I don't see t

[2016-10-01 08:35] gerrik84 commented on #34
i have double checked the output with the bluetoothctl console.

when i start the  ble_gateway_hl and the bluetooth device is not connected i get this

[code]

When i activate the ble device and run the ble_gateway_hl i get this on the bluetoothctl console

[code]

And the ble_gateway_hl output is

[code]
so it seems the dive is connected but the uuids cant be passed to the device ?

[2016-10-02 12:16] Kevin0626 opened #36 "why don't subscribe to any topic for sink from any module?"
When a module is configured to sink from any source, I understand the implementation actually use the nanomsg to subscribe from all the modules. Why not just let the module simply subscribe to any topic?

Is it because the sender don't want to receive the message sent from itself? Can we just filter it out according to source module?

[2016-10-02 12:17] Kevin0626 opened #37 "can it support send a message to specific target module?"
In our application, sometimes we need to send a message to a specific module. Can the project provide support for that need?

[2016-10-03 17:38] aribeironovaes commented on #35
Hi @leeprtc ,

Thanks for using our SDK. Yes, we are aware of this problem and we are working to find a fix and also document the root cause.

Apparently this happens because when you have 8.1 and 10 SDK CMAKE defaults to Windows 10 SDK, which doesn't build for the current .NET Binding. So, in order to mitigate that while we work on a fix you can:
1-Open the Visual Studio Project and, on the proje

[2016-10-03 19:06] leeprtc commented on #35
Changing to Windows 8.1 SDK fixed the errors.

Thanks!

[2016-10-03 19:08] leeprtc opened #38 "Problems building dotnet_binding_sample"
I'm seeing errors when building dotnet_binding_sample under AzureIoTGateway_Samples. There seems to be some issues with the cmake configuration file. The binary compiled without issues. But the build is failing because it has trouble copying SensorModule and PrinterModule binaries. These are .NET assemblies but it seems to be detected by cmake as C/C++ projects as I see something like the followin

[2016-10-03 19:39] aribeironovaes commented on #38
Hi @leeprtc

So, before run the build.cmd with --enable_dotnet_binding, please, make sure you run the script build_dotnet.cmd. We created this script so you don't need to copy manually the DLLs for the DotNet Sample to work.

Regarding your second question it's a good suggestion, however do you know if it's possible to accomplish this with CMake? The azure_iot_gateway_sdk solution is generated by

[2016-10-03 20:22] leeprtc commented on #38
Thanks for the info about build_dotnet.cmd. I was not aware that I needed to run this first before build.cmd.

Unfortunately, I'm not that familiar with CMake since I do most of my development with Visual Studio. I suppose one can use Visual Studio extensibility to patch up the solution after CMake runs. But it may not be worth the trouble to create/maintain this separate program if there is docum

[2016-10-03 22:52] damonbarry commented on #37
Do you mean that the gateway application needs to send a message to a module? Or another application on the same machine?

Generally, out-of-band communication like this is not handled by the SDK.

Can you provide a more specific example? Or maybe a pull request?  ;)

[2016-10-03 23:37] Kevin0626 commented on #37
I mean sending to a broker module managed by the gateway.

for example, we send data to module A for prcessing, then to module B for further processing.

[2016-10-03 23:41] darobs commented on #34
We have a reproduction here, so we will be continuing to investigate this.  I've also reached out to the module writer to see if he has steps to find the problem.

Thanks,
Dave

[2016-10-04 06:29] mupparajuvamsi opened #39 "IotHub Receiving messages"
Hi Iam trying to read messages from IotHub using EventHubClient createFromConnectionStringSync
while doing that it is trying to connect to 5671 port and my firewall is blocking that how to specify https port or how to resolve this issue to receive devicetomessages

[2016-10-04 17:18] damonbarry commented on #37
When you configure modules A and B in the gateway, you can add a link to the configuration so that messages sent from module A and delivered to module B, like this:
[code]
Does that give you what you're looking for?

[2016-10-04 17:28] aribeironovaes commented on #37
Hi @Kevin0626,

To add more, is your scenario like this?
Having a Module A, Module B and Module C and you want sometimes send messages from Module A to Module B and sometimes from Module A to Module C? Is this your scenario?

If so, what you can do is filtering the message using Message Property, (like defining a Content-Type, for example.

I would advice to try to design your scenario so modules

[2016-10-04 17:30] aribeironovaes commented on #39
Hi @mupparajuvamsi ,

What client are you using to get EventHubClient? Let us know which client you are trying to use on your module and we can try to check if it's possible and how to change port (if possible).

Have you tried to receive the message using our IotHub Client?

Thanks,

Angelo Ribeiro.

[2016-10-04 21:55] darobs commented on #36
Hello @Kevin0626, we debated different forms of representation for how to route messages through the gateway.  The objectives for routing in the gateway was:
- Allow the gateway architect to clearly specify the flow of messages through the gateway.
- Modules shouldn’t know about consumers.
- Multiple consumers can operate on a message.
- Modules may publish without a destination.
- Remove the ambi

[2016-10-04 22:00] darobs commented on #34
Hello again @gerrik84, we're still looking into this.  I did have some questions, if you don't mind:

What platform are you using?  Which BLE device? We reproduced the problem, but we want to make sure what we find applies to your problem.

Also, something worth trying might be to run `bluetoothctl` and then run the `list-attributes` to cause the Bluetooth engine to cache the characteristics, i.e.

[2016-10-04 22:43] Kevin0626 commented on #36
Thanks for the answers!

I was trying to quickly create a point to point message sending function based on the publish API. It seems no quick path based on current design.

Yes, we can use filter on property. I am just concerned the performance overheard with that approach.

We want to design a data processing flow so multiple modules can handle data in sequence.

[2016-10-05 04:49] mupparajuvamsi commented on #39
Hi @aribeironovaes
I am using java code to register a device and send a message and receive back the message .First two things are happening fine .But while receiving messages from cloud to device using EventHubClient my Firewall is blocking 5671 port .Moreover i had not seen any  documentation regarding receive the message using your IotHub Client in Java API.Could you please be specific about Io

[2016-10-05 05:20] aribeironovaes commented on #39
Thanks @mupparajuvamsi ,

Just to confirm, since it's not clear on your message.
Are you using Java Binding on Azure Gateway SDK to get a message from the cloud? (Cloud to Device?).
Either way, if you want to use java i would suggest you to take a look into here:
https://github.com/Azure/azure-iot-sdks
More specifically here:
https://github.com/Azure/azure-iot-sdks/tree/master/java/device

To chec

[2016-10-05 09:54] mupparajuvamsi commented on #39
Thanks  @aribeironovaes
I am not using Java Binding on Azure Gateway SDK
i am using this for sending and receiving message
 https://github.com/Azure/azure-iot-sdks/blob/master/java/device/samples/send-receive-sample/src/main/java/samples/com/microsoft/azure/iothub/SendReceive.java
 using this i am able to send while doing that i am getting a iothubstatuscode of OK_EMPTY
 while receiving in the set

[2016-10-05 11:29] gerrik84 commented on #34
Hello,
as gateway i use a Intel Edison with a custom yocto image and bluez 5.34. On the sensor side i use TI CC2650 with FW Version 1.20.
When i connect to my sensor on the bluetooth shell i can execute the list-attribute command but nothing is returned. When i try the same via gattool i get :

[code]
After that i have the same behaviour....

[2016-10-05 22:51] aribeironovaes commented on #39
Hi @mupparajuvamsi ,

Ok, from your message I can see that you are using https://github.com/Azure/azure-iot-sdks/ instead of gateway sdk.

Can you post your question on https://github.com/Azure/azure-iot-sdks so you can get proper answer? There you will able to have your questions addressed better.

That said, for D2C you can keep using the API you are using...
But for C2D in Java you should be us

[2016-10-05 22:51] #39 closed

[2016-10-05 23:01] darobs commented on #38
Hello @leeprtc we have just updated the documentation for the dotnet sample to make it more clear the steps needed to build the .NET sample.

Desktop.
 The sample Gateway gets built when you build the SDK by first running
[code]
then running
[code]

We are closing this issue, if you don't think the issue has been resolved, please reopen this or create a new issue.

Thanks,
Dave

[2016-10-05 23:01] #38 closed

[2016-10-05 23:09] aribeironovaes commented on #39
Hi @mupparajuvamsi  ,

Ok, from your message I can see that you are using https://github.com/Azure/azure-iot-sdks/ instead of gateway sdk.

Can you post your question on https://github.com/Azure/azure-iot-sdks so you can get proper answer? There you will able to have your questions addressed better.

That said, I went to the Azure-iot-sdk and here is the documentation on how you can do C2D and D2C

[2016-10-05 23:27] darobs commented on #36
I think the current gateway can support your needs, but let me clarify what we can do right now.

Suppose we have 3 modules, A, B and C.  In the application, all messages generated by A must be received by B, then C will get the results from B.  That would be easy enough by setting up the links as such (elided):
[code]

This configuration will guarantee module B will only see messages from module

[2016-10-05 23:34] darobs commented on #34
Thank you, @gerrik84 - I've got our board reproducing something similar, although we have a slightly newer version of bluez.

[2016-10-05 23:57] Kevin0626 commented on #36
We want a bit more flexibity on the scenario as you described.

We hope the module is self contained. That means a data processing (dp) module doesn't know other dp module. and a final module will post data to cloud, We don't want It post repeated data to cloud.

We want to design such a scenario: A -> B, B->A,A->C,C->A,A->D,D->Cloud. Only A has the entire process chain info.

[2016-10-06 23:09] chipalost commented on #36
Interesting, could you elaborate on the scenario you’re trying to accomplish? I’ll try to analyze this technically but it would be useful to discuss it in terms of the problem you’re trying to solve.

It looks like you have three stateless dp modules (B, C, D) and one stateful orchestrator (A) that doles out work to the DP modules. What is the role of A, keeping track of a message’s progress in th

[2016-10-06 23:42] Kevin0626 commented on #36
in the message back from B, C to A, It can indicates stopping further processing, It can aslo contain a calibrated data. That controls the processing flow.

We have developed an iot system for mushroom customer. We are exploring feasibility of porting to this open source for building a more flexible mechanism to support data processing. for example We want different modules to handle  calibration,

[2016-10-07 23:44] chipalost commented on #12
I'm closing this issue as I believe it's been resolved.

[2016-10-07 23:44] #12 closed

[2016-10-11 20:11] darobs commented on #34
Hi @gerrik84  - The problem is our code is reliant on the DBus-Bluez interface as defined in release 5.37.   That interface has changed such that 5.34 isn't compatibly with our BLE module.  We have tested and support BlueZ version 5.37, is it possible for you to update to 5.37?

I've also discovered we have a similar issue with 5.42. I've created a PBI in our backlog to do better discovery and fin

[2016-10-17 20:35] chipalost commented on #36
Thanks for the additional details. Could you send me an email to cstreet@microsoft.com? I'd like to find some time to talk with you about your scenario.

[2016-10-20 11:27] ondrejtomcik opened #41 "IoT Gateway and device management"
Azure now supports in device management preview for IoT Hub configuration of tags -> location hierarchies and others. I read that 'We’ve also integrated standards like LWM2M for device management'.
What exactly does it mean please?

Is it possible to get/set device management metadata (tags) directly from gateway locally, when connection is down? Is this information stored also there?

Thanks.

[2016-10-23 20:56] alexiordan opened #42 "Error following the getting started tutorial"
I'm having issues following the [getting started tutorial](https://github.com/Azure/azure-iot-gateway-sdk/blob/master/doc/getting_started.md)

I have installed VisualStudio 2015 Update 3 (with Visual C++)
After I clone the repo at following path (c:\gitrepos\) I run into following issues:

1. Running build.cmd throws following error:
`C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V110\Microsof

[2016-10-23 21:30] alexiordan commented on #42
OK, so for
1. Fix is Setting the `VisualStudioVersion` Environment variable to 14.0
`set VisualStudioVersion=14.0`

2. I still have the ` cannot open file 'Microsoft.VisualStudio.TestTools.CppUnitTestFramework.lib'` error

[2016-10-23 22:17] alexiordan commented on #42
Fix for 2 also:
Set Environment variable VCInstallDir to VS2015's one
`set vcinstalldir="C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\"`

For both issues it is strange since I did not have another version of Visual Studio installed, but 2015.

However, not it build successfully with all the tests passed.

[2016-10-23 22:17] #42 closed

[2016-10-24 19:46] damonbarry commented on #41
Your questions about device management should be directed to the repo at https://github.com/Azure/azure-iot-sdks-preview.

RE setting/getting device management metadata while the gateway is offline: The gateway is also in beta, and we don't have built-in support yet for device management in the gateway. We plan to add support soon after device management becomes generally available, but it's diffi

[2016-10-24 19:46] #41 closed

[2016-10-24 20:11] #34 closed

[2016-10-31 20:39] alexiordan opened #44 "Error building for .net sample"
After build.cmd --enable-dotnet-binding
I receive for a number of projects the following error (of course, projects and paths are different) :
[code]

[2016-10-31 20:44] aribeironovaes commented on #44
Hi @alexiordan,

Couple of things:
1-What is the version you are trying to build? Is it latest from Develop or latest from Master? (Is it building with out enabling dotnet binding?)
2-If it's latest from develop try to update your submodules. We have changed the submodules name (so it gets shorter), so you may have problems with that).
3-Have you run build_dotnet.cmd before trying to run build.cmd

[2016-10-31 20:59] alexiordan commented on #44
1. master. Latest from master. Yes, it builds without donet binding. Until it worked, however, I ran into some issues I listed here: [Error following the getting started tutorial ](https://github.com/Azure/azure-iot-gateway-sdk/issues/42)
2. It's latest from master
3. Yes, I have run it. No error given, just a message afterwards:
`Build succeeded.
    0 Warning(s)
    0 Error(s)

Time Elapsed 00:0

[2016-10-31 21:13] aribeironovaes commented on #44
Thanks for confirming @alexiordan,

I just tested with latest from master and I was able to build, so it must be something different on our environments... Lets try to figure out what it is.

From your last message I was that it didn't recognize 'vstest.console'as an internal command... Which makes me think you probably are not running a Developer Command Prompt?

Can you confirm that you are runn

[2016-10-31 21:16] aribeironovaes commented on #44
Another thing I would try @alexiordan  is to make sure you have a clean environment.
Running:
git clean -xdf (make sure you don't have any of your uncommitted files on your enlistment, otherwise you will lose it.)
git submodule update --init --recursive (just to make sure you have the right version from the dependencies, since the error you are getting seems to be in a dependency).

I will let you

[2016-10-31 21:22] alexiordan commented on #44
I was using the Visual Studio 2012 ARM Phone Tools Command Prompt. Thought that they all do the same thing. Now that I think more about it, maybe this was also the root of all evil with my problems encountered in the other issue I mentioned you about.

Now I started the Developer Command Prompt for VS2015 and build_dotnet.cmd run smoothly without that message in the end.

build.cmd --enable-dotnet

[2016-10-31 21:25] aribeironovaes commented on #44
Great to know your problem got fixed!

Thanks a lot for using the Azure Gateway SDK @alexiordan

Cheers,

Angelo Ribeiro.

[2016-11-01 17:03] alexiordan commented on #42
After all It seems I was using the Visual Studio 2012 ARM Phone Tools Command Prompt instead of Developer Command Prompt for VS2015 .

[2016-11-03 15:33] #44 closed

[2016-11-03 16:50] alexiordan opened #46 "What happened to UWP samples?"
Both code and documentation?
They seem to disappeared.

[2016-11-03 17:06] aribeironovaes commented on #46
Hi @alexiordan,

Thanks for asking. We decided to remove the UWP Sample from our code temporarily since it didn't follow our guideline on binding. We want to avoid #defines in our code and UWP had that.

We are making some changes to our core architecture so it's more amenable to environments like UWP.

Thanks,

Angelo Ribeiro.

[2016-11-03 17:08] aribeironovaes commented on #31
Hi @yphuangms ,

We have solve this problem, we have removed the _hl.dll and now it's just 1 DLL.
So, I'm closing this issue. Please check it out and reactivate the issue if you have any more request about this.
Thanks a lot for using our Azure IoT Gateway SDK!

Angelo Ribeiro.

[2016-11-03 17:08] #31 closed

[2016-11-03 17:11] alexiordan opened #47 "Support for UWP"
It seems that UWP cannot benefit from json based configuration file.
In the provided sample the initialization seems be to handled this way:
[code]
What is the correspondence between the content of a json configuration file and these properties?
Is there an example available?

Or to put it this way: how are _links_  passed to the gateway?

[2016-11-03 17:13] alexiordan commented on #46
Should usage mode be expected to change?

[2016-11-03 17:35] aribeironovaes commented on #46
@alexiordan,

Thanks for the feedback.

When we release to master we add a "Breaking Change" section so users are aware before switching versions.

So, what usage mode are you asking? On the last release (we made yesterday) we had some breaking changes, specially regarding Modules Loading. We have updated our samples and documentation with these changes. But let us know if you have any questions.

[2016-11-03 18:29] alexiordan commented on #47
OK, so just by trial and error... and keep in mind that I did not configure anything related to _links_
All modules receive the published information, except the one that actually publishes it.

If the conclusion is wrong, please correct me.
Of course if someone can point how the _links_ can be set for the Universal Windows version his effort will be highly appreciated.

[2016-11-03 19:40] alexiordan opened #48 "[UWP] [Question] UWP binding for modules"
Do you plan to have the SDK modules available for UWP?
iothub, logger etc.

[2016-11-03 20:02] alexiordan commented on #46
I plan to use the Gateway so to integrate some ZigBee modules into Azure IoT Hub world. I will run the Gateway as an UWP background app on Windows 10 Core on a Raspberry Pi 3.

Currently, iothub, logger and identity map (maybe I need to rewrite this to accommodate ZigBee addressing) seems what I need.
I only need to write the module that sends/receives data to the ZigBee network.

From what I've r

[2016-11-04 04:52] aribeironovaes commented on #46
Thanks for letting us know @alexiordan.
It's important for us to understand your scenario.

Yeah, the way that UWP was written a native module (existing Iothub, logger, identity map) would not work on the UWP Gateway. The user (or us) would have to wrap existing modules or rewrite equivalent modules in UWP. It's one of the reason we decided to go with a new approach that would allow us to reuse mo

[2016-11-04 04:54] aribeironovaes commented on #47
Hi @alexiordan ,

So, the UWP binding/Gateway that we had on previous version didn't implement/support Json configuration. The way they did was by creating an instance of a UWP Gateway (the one you mentioned on your first gateway). I would have to double check if today the Gateway configuration is used.

You can take a look into existing samples and check how configuration are passed to them.

Reg

[2016-11-04 07:03] alexiordan commented on #47
@aribeironovaes , thank you for the insight.
The fact that the next version will support links is a great thing.

When do you expect the new release with UWP support?

Regarding the parameters passing: From what I've seen, all the parameters are passed to each module. It's the module's responsability to use that information.

[2016-11-04 07:07] alexiordan commented on #46
Thank you @aribeironovaes.
I'll then further use the previous version whilst waiting for the UWP release.

[2016-11-04 07:07] #46 closed

[2016-11-04 07:10] alexiordan commented on #48
More about [UWP modules binding](https://github.com/Azure/azure-iot-gateway-sdk/issues/46#issuecomment-258344661) can be read here:
#46

[2016-11-04 07:12] #48 closed

[2016-11-04 16:50] damonbarry commented on #36
No activity...closing.

[2016-11-04 16:50] #36 closed

[2016-11-04 16:51] damonbarry commented on #37
No activity...closing.

[2016-11-04 16:51] #37 closed

[2016-11-04 16:51] aribeironovaes commented on #47
@alexiordan,

Thanks. We don't know exactly when it's going to come back, i just know that in our backlog and we will work on it as soon as we finish some higher priority backlog items that we are working.

Let's keep this item opened so you can track once we have that! As soon as we have I will let you know.

Thanks a lot for using our Sdk,

Angelo Ribeiro.

[2016-11-08 16:33] AdamMachera opened #49 "Not able to pass json in UTF-8-BOM"
If file path is passed to json that is encoded as UTF-8-BOM to method
GATEWAY_HANDLE Gateway_CreateFromJson(const char* file_path)
no gateway is created (LogError("Input file [%s] could not be read.", file_path);).

I did this test in from .NET code (because VS by default adds BOM)

To make it happen I extended dotnet.cpp

MODULE_EXPORT GATEWAY_HANDLE Module_Gateway_CreateFromJson(const char* file

[2016-11-10 08:56] yphuangms commented on #30
Does change code page inside command prompt (before running build.cmd) resolve the issue?

[2016-11-10 18:15] yfakariya commented on #30
No, I still got C2220 errors.
It looks that  Visual C++ compiler uses cp932 internally from OS's locale setting (and just try to out messages with cp437 and fails to output).

[2016-11-15 06:55] yaweiw opened #51 "BLEIO_gatt_read_char_by_uuid Line:155 g_tree_lookup() failed."
[code]

We are facing this issue intermittently on Intel NUC running Wind river.

[2016-11-21 03:53] fcolumbu opened #53 "Having trouble with "simulated device to cloud upload sample""
I have my Azure IoT hub all setup and all the keys appropriately set in the json file. I even moved both files to the same directory to rule out path errors but the result is the same:

drwxrwxr-x  5 fcolumbu fcolumbu   4096 Nov 20 16:44 bindings
drwxrwxr-x  8 fcolumbu fcolumbu   4096 Nov 20 16:52 build
-rw-rw-r--  1 fcolumbu fcolumbu     76 Nov 20 16:44 CHANGELOG.md
-rw-rw-r--  1 fcolumbu fcolumb

[2016-11-21 03:58] andrew-buckley commented on #53
Hi @fcolumbu, can you share a few more details:

1. How did you build the project? Using the build.sh script? Or using cmake commands directly?
2. If you built using cmake, did you change where it installs dependencies by default?
3. Can you run 'ld' on libnanomsg.so.5.0.0? It will either be in /usr/local/lib or elsewhere depending on whether you chose to change the install location.

Thanks,
-And

[2016-11-21 04:00] andrew-buckley commented on #53
Actually it looks like you built using the build scripts. Can you run an 'ld' command on the libnanomsg.so.5.0.0 located in ~/azure-iot-gateway-sdk/install-deps/lib/?

[2016-11-21 12:22] yphuangms opened #54 "[Build Error][Windows] "build.cmd" cannot run for second time due to "mkdir %cmake-root%" will always fail."
This "build.cmd" contains some scripts that result in conflicts result at following lines:

1. build script will remove "build" folder at first

        rmdir /s/q %cmake-root%

2. build script call git command to clean submodule folder

        git submodule foreach --recursive --quiet "rm -rf build/"

     by doing so, it somehow create "build" folder again under %build-root%, this is the main c

[2016-11-21 12:34] yphuangms opened #55 "[Build Error][module_loader_ut][Windows] Build failed at "core/tests/module_loader_ut" due to "java_module_host.h" not found."
When build unit test program for "module_loader_ut", it cause the build process abort due to build error. The error indicates "java_module_host.h" not found.

The fix to this error is to add a include path in "core/tests/module_loader_ut/CMakeLists.txt"

   include_directories(${GW_INC})
   include_directories(../../../bindings/java/inc)

[2016-11-21 12:50] yphuangms opened #56 "[Suggestion][Dotnet-Binding] Allow to take JSON for "args" rather than just a string."
While looking at native modules, it allow to take JSON object definitions as "args", but this is currently not available for dotnet modules.

        {
            "name": "logger",
            "loader": {
                "name": "native",
                "entrypoint": {
                    "module.path": "..\\..\\..\\modules\\logger\\Debug\\logger.dll"
                }
            },

[2016-11-21 13:19] yphuangms commented on #30
Surfed the internet looking for solutions and with no luck. It seems VS developer command prompt doesn't take the result of "chcp" command, even if we do "chcp" inside VS developer command prompt script as first line in "C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\Tools\VsDevCmd.bat".

The only solution for now is to change OS "region" setting to "United States". This makes the def

[2016-11-21 13:36] andrew-buckley commented on #55
Hi @yphuangms, this has already been fixed and is in both the develop and master branches.

[2016-11-21 13:55] yphuangms opened #57 "[Suggestion][Dotnet-Binding] Add makefile to include dotnet binding projects into build process."
For the convenience to build and to debug/run those dotnet modules, "CMakeLists.txt" could be added into these project folders, and add these folder into parent folder "CMakeLists.txt".

For example,

1. To add "Microsoft.Azure.IoT.Gateway" into build process, add "%build-root%\bindings\dotnet\dotnet-binding\Microsoft.Azure.IoT.Gateway\CMakeLists.txt", content of this file:

[code]
To add "SensorM

[2016-11-21 14:34] yphuangms commented on #55
Is it possible to tag a fixed version as "release" version? (and remove "2016-11-18", because this released version is failed to build)

Just download the latest one instead of the released "2016-11-18", and seemed like the problem is fixed by removing all the defines to enable bindings in CMakeLists.txt.
This could temporarily fix the problem, but it just fix the problem by preventing this unit t

[2016-11-21 15:13] andrew-buckley commented on #55
Those add_definitions happen. If you look at this [CMakeLists.txt](https://github.com/Azure/azure-iot-gateway-sdk/blob/master/core/CMakeLists.txt) file.

[2016-11-21 17:17] fcolumbu commented on #53
Hi Andrew,

I used "build.sh" to install the sdk and related code. Here is the ldd output and location of the library:

fcolumbu@fcolumbu-virtual-machine:/usr/local/lib$ sudo find / -name libnanomsg.so.5.0.0 -print | grep libnanomsg.so.5.0.0
[sudo] password for fcolumbu:
**/home/fcolumbu/azure-iot-gateway-sdk/deps/nanomsg/build/libnanomsg.so.5.0.0**
**/home/fcolumbu/azure-iot-gateway-sdk/install-d

[2016-11-21 20:32] aribeironovaes commented on #57
Great Suggestion @yphuangms!

I will add here to out backlog try it out and add.

Remember that you can always do a Pull Request and contribute back! This would be a great contribution.

Let us know,

Angelo Ribeiro.

[2016-11-21 20:48] aribeironovaes commented on #56
Thanks @yphuangms,

I have added your suggestion to our backlog for triage/consideration.

Question for you. If you add a JSON like this:
   {
        "name": "dotnet_sensor_module",
        "loader": {
            "name": "dotnet",
            "entrypoint": {
                "assembly.name": "SensorModule",
                "entry.type": "SensorModule.DotNetSensorModule"
            }
        },

[2016-11-21 22:54] darobs commented on #51
@yaweiw Are you still experiencing this problem?  I know we had a bug in the BLE module a few weeks ago, and these fixes have been merged into the latest master commit.  My first suggestion is to get the latest form master (or develop) and see if this problem is resolved.

[2016-11-21 23:38] avranju commented on #55
The fix doesn't prevent the unit tests from running. It causes the module loader unit tests to include the loader for a given language binding only when that language binding has been enabled during the build. Our CI builds always run all the tests with all the bindings enabled (that is in fact the reason why this issue went undetected because it crops up only when you build without any of the lan

[2016-11-22 02:25] yaweiw commented on #51
@darobs yes i am still facing the issue. but running bluetoothctl list-attributes before the sample works. so this should server as a workaround though.

[2016-11-22 21:12] andrew-buckley commented on #54
I was able to run the build.cmd script multiple times successfully. Please provide repro steps if possible.

Thanks!

[2016-11-23 16:50] darobs commented on #51
That is the workaround.  The current BLE module doesn't do attribute discovery on its own, and we instruct the user to connect via bluetoothctl in our [setup document](https://github.com/Azure/azure-iot-gateway-sdk/blob/master/samples/ble_gateway/connecting_to_ble_device_on_rpi3.md).

We are closing this issue, if you don't think the issue has been resolved, please reopen this or create a new issu

[2016-11-23 16:50] #51 closed

[2016-11-23 21:50] aribeironovaes commented on #56
Hi @yphuangms ,

Actually I'm going to take back what I said.
I just edited the dotnet_binding_sample JSON to something like this:
        {
            "name": "dotnet_sensor_module",
            "loader": {
                "name": "dotnet",
                "entrypoint": {
                    "assembly.name": "SensorModule",
                    "entry.type": "SensorModule.DotNetSensorModule"

[2016-11-25 19:50] zeroepoch opened #58 "Problem building on Fedora"
I don't know if this has something to do with cmake 3.6.2, Fedora, or something in the build scripts, but it's looking in ../install-deps/lib instead of ../install-deps/lib64 for libnanomsg.so.  See the error below:

[code]

To workaround the problem I moved everything from lib to lib64 and created a symlink (lib -> lib64).  After doing that and running make again everything worked.

[2016-11-28 18:15] andrew-buckley commented on #58
Hi @zeroepoch. Thanks for reporting this, I'll have a look at this and update you on the progress as it's resolved.

[2016-11-28 18:51] zeroepoch commented on #58
I built the SDK inside an Ubuntu 14.04 VM and I noticed it doesn't create lib64 although it's a 64-bit VM.  FYI, on Fedora 24 after building everything the hello world example worked but it segfaults when doing a call into libcurl when I run the simulated cloud example, but that's a separate issue.

[2016-11-28 21:11] andrew-buckley commented on #58
In your original issue you were using a 64-bit installation of Fedora, correct?

[2016-11-28 21:23] zeroepoch commented on #58
Yes my Fedora 24 install is also 64-bit on physical hardware.

[2016-11-29 07:19] barnstee opened #59 "[.Net Binding]: Regression: Module args are quoted and escaped"
In the GA bits, there is a regression when it comes to the args strings that is passed to modules: The string is now quoted with double-quotes and appears to be escaped. In the OPC.UA module, the args are used for device ID and shared access key, which now no longer works:
Device Id had quote sign at start and shared key had it at the end, as 606simps noted. I fixed that in my local code, but did

[2016-11-29 07:25] barnstee opened #60 "[.Net binding] How to enable .Net binding needs to be more discoverable in the docs"
Lots of folks forget to run tools\build_dotnet.cmd and tools\build.cmd --enable-dotnet-binding because the only place it's mentioned is n the .Net binding sample. If you just clone the SDK and a .Net module and want to get it working, it is almost impossible to find this.

[2016-11-29 18:14] andrew-buckley commented on #60
Hi @barnstee would it be helpful to provide links to the setup instructions on the main README.md page?

[2016-11-29 18:50] andrew-buckley commented on #58
The fix for your original issue requires a change to one of our dependencies, nanomsg. I'm going to create a pull request against them and I'll provide the link to it here shortly. Would you mind creating a separate GitHub Issue for the second problem you brought up?

[2016-11-29 19:01] andrew-buckley commented on #58
You can see the PR [here](https://github.com/nanomsg/nanomsg/pull/851)

[2016-11-29 21:25] barnstee commented on #60
Yes.

[2016-11-29 21:27] barnstee commented on #60
And possible have a build dev doc here: https://github.com/Azure/azure-iot-gateway-sdk/tree/master/bindings/dotnet/devdoc

[2016-11-29 21:32] zeroepoch commented on #58
I'll test the PR tonight just to confirm and also get the backtrace needed to file the other issue.

[2016-11-30 04:02] zeroepoch commented on #58
After replacing `src/pkgconfig.in` in nanomsg `tools/builld.sh` works without issues from a fresh checkout.  Since you've already submitted the PR upstream I'll go ahead and close this ticket since nothing else can be done here.

[2016-11-30 05:15] zeroepoch commented on #58
I spoke too soon.  RPATH needs to be updated as well otherwise you get runtime errors.  Sorry didn't know if it made sense to fork and submit a pull request for just a single line change.

[code]

[2016-11-30 05:17] zeroepoch commented on #58
BTW, it looks like Fedora does change a few of the common CMake variables, see one example here: https://bugzilla.redhat.com/show_bug.cgi?id=795542

[2016-11-30 06:15] zeroepoch opened #62 "simulated_device_cloud_upload_sample segfaults on Fedora 24"
When I run the `simulated_device_cloud_upload_sample` application I get a segfault almost right away.  From the backtrace bellow it appears to be happening while it's establishing an SSL connection.  Although I don't know enough about libcurl to really know what's wrong.

Backtrace:
[code]

[2016-11-30 17:14] andrew-buckley commented on #62
This is only happening on your Fedora 24 64-bit machine?

[2016-11-30 18:17] zeroepoch commented on #62
Yes.  When I run this example using the same JSON file in my Ubuntu 14.04 64-bit VM it works.

[2016-11-30 18:35] zeroepoch commented on #62
Here is the ldd output in case that is of any help.

[code]

[2016-11-30 18:37] damonbarry commented on #13
We rely on the retry behavior of the device SDK. They're currently working on retry and exponential backoff, so the gateway will benefit from those features when they come in.

Some scenarios might need this sort of thing, others won't. We don't currently do this.

Again, the device SDK is working on this, and I believe they plan to expose a way to configure retries. (see  [this project on the dev

[2016-11-30 18:37] #13 closed

[2016-11-30 18:50] damonbarry commented on #22
We're happy to take a contribution for a base class that implements the interface and provides default implementations.  :)

Overall, we don't see a compelling (enough) reason to replace the interface with a base class.

[2016-11-30 18:50] #22 closed

[2016-11-30 19:00] damonbarry commented on #23
Thanks for reporting this! Sorry for the delay, we plan to fix this soon.

[2016-12-01 00:02] andrew-buckley commented on #62
The `simulated_device_cloude_upload_sample` sample uses our iothub module. The iothub module uses the [Azure IoT Client SDK](https://github.com/Azure/azure-iot-sdks) to communicate with IoTHub. And the Azure IoT Client SDK uses helpers in the [Azure C Shared Utility](https://github.com/Azure/azure-c-shared-utility/) library for establishing  secure connections over HTTP. This library assumes that

[2016-12-01 00:06] andrew-buckley commented on #53
We are still working on the fix for this issue. If you're interested, the fix required must happen in 2 places. We've made this pull request in the nanomsg repository to fix the pkgconfig configuration file to point to the correct location of the library. And from our end, we're working on fixing the RPATH of our targets to point to the correct location of the installed libraries that should work

[2016-12-01 00:08] andrew-buckley commented on #58
Yes, you're correct! As a matter of fact we fixed that this morning but it hasn't gone in quite yet. The RPATH needs to reference the proper lib install directory in the same way that the nanomsg.pc file needs to reference the proper lib install directory. See #53, as it is a similar issue.

[2016-12-01 03:39] zeroepoch commented on #62
Yep, that was it!  After building libcurl and setting `LD_LIBRARY_PATH` I see data in the monitor from `iothub-explorer`.  Were you referring to `azure-c-shared-utility` when you mentioned to file a ticket to support curl with NSS support?

[2016-12-01 09:37] parbergius commented on #47
What is the status for the UWP gateway? We developing an application that will run on Windows IoT Core so the gateway must runs as a UWP background application.

[2016-12-01 17:12] andrew-buckley commented on #62
Yes, that's right

[2016-12-01 20:45] aribeironovaes commented on #59
Working on that now @barnstee .

I will let you know.

[2016-12-01 22:33] andrew-buckley commented on #60
@barnstee, here is a commit I've made to make the binding instructions more find-able. Does this seem good to you?

https://github.com/andrew-buckley/azure-iot-gateway-sdk/commit/02918f9b34d890f3f90e57ee93fb0d72a23efb27

[2016-12-01 23:13] fcolumbu commented on #53
Gave it a try:

fcolumbu@fcolumbu-virtual-machine:~/azure-iot-gateway-sdk$ **export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/fcolumbu/azure-iot-gateway-sdk/install-deps/lib/x86_64-linux-gnu/**
fcolumbu@fcolumbu-virtual-machine:~/azure-iot-gateway-sdk$ ./simulated_device_cloud_upload_sample simulated_device_cloud_upload_lin.json
Error: Time:Thu Dec  1 14:52:02 2016 File:/home/fcolumbu/azure-iot-gatew

[2016-12-01 23:23] andrew-buckley commented on #53
The json for that sample expects you to run the sample from the build directory which may be why it's unable to find the modules it's looking for. We're changing documentation right now to document this. Can you try running the sample from the build directory rather than from the project root?

[2016-12-02 00:02] damonbarry commented on #56
As @aribeironovaes said above, we believe this issue is already fixed in our latest release ([2016-11-18](https://github.com/Azure/azure-iot-gateway-sdk/tree/2016-11-18)). Please reopen if you still see this in the latest bits.

[2016-12-02 00:02] #56 closed

[2016-12-02 04:08] andrew-buckley commented on #62
Since there is a workaround and the fix should come from another repository, I'll close this issue. Please reopen if you think it's necessary.

Thanks!

[2016-12-02 04:08] #62 closed

[2016-12-02 08:13] barnstee commented on #60
Looks good! Thank you!

[2016-12-02 16:33] #60 closed

[2016-12-02 17:50] aribeironovaes commented on #59
Hi @barnstee,

Thanks for raising this. So, here is what we came:
So, I tested and you are right, for a .NET module develop the latest change we make can cause a regression.

Although we think that the current implementation is better than the previous one for the following reason:
Before the configuration just accepted pure String Configuration (like the one you are using on OPC US MODULE “device

[2016-12-02 17:50] #59 closed

[2016-12-05 17:15] andrew-buckley commented on #49
Hi @AdamMachera, this is actually due to an issue with one of our dependencies that we use to read JSON configs. I've opened an issue with there that you can see [here](https://github.com/kgabis/parson/issues/65).

[2016-12-06 12:14] AdamMachera opened #65 "Building on windows 10 x64"
If I try to build gateway sdk on windows 10 with x64 cmake (cmake-3.7.1-win64-x64.msi) I'm getting bunch of exceptions.
To build solution I'm using
**build.cmd --config Release --platform x64 --skip-unittests --disable-ble-module --enable-dotnet-binding**

Sample exception:
 gateway.lib(module_loader.obj) : error LNK2001: unresolved external symbol VECTOR_size [c:\s\azure-iot-gateway
       -sdk\b

[2016-12-07 09:10] kingsolutions opened #66 "Building Azure IoT Gateway SDK Solution with CMake Utility on VS2015 - Build Error: "Error in configuration process, project files may be invalid""
I'm going through the guide for the sample Azure IoT Gateway SDK project with CMake 3.71 utility for Visual Studio 2015 on Windows 10 platform. When I tried to build the project both in VS2015 Command Line and CMake GUI, respectively, I got the following error log:

Determining if the _M_AMD64 exist failed with the following output: Change Dir: C:/Users/nanos/Documents/GitHub/project/azure-iot-gat

[2016-12-07 16:50] andrew-buckley commented on #66
Hi @kingsolutions, I've never tried using the CMake GUI with our project. We've always just used the CMake command line tool. I'll give this a shot and tell you if I run into this issue and am able to solve it.

[2016-12-07 16:53] andrew-buckley commented on #65
Hi @AdamMachera, from your CMake output it seems like you already have the dependencies installed from a previous build of the project. Can you look in c:\s\azure-iot-gateway-sdk\install-deps and tell me if that directory is non-empty. If there are already dependencies installed there from a 32-bit build of the project, it will try to use these 32-bit dependencies with your 64-bit build and it may

[2016-12-07 17:43] andrew-buckley commented on #66
It seems like I was able to generate using the CMake GUI by selecting Visual Studio 14 2015 as the generator for the project. Can you provide repro steps?

[2016-12-07 18:45] kingsolutions commented on #66
Hi Andrew,

Thanks for your prompt reply.

While you are testing your project with the CMake GUI, how do I download the CMake Utility that doesn’t come with the GUI part? This is because, when I followed your instructions on the Visual Studio Command tool, I see CMake for Win 32 being loaded as the build process commences. At the end of the build process on the command window, I still get some err

[2016-12-07 18:52] kingsolutions commented on #66
Sorry, Andrew, did you mean the steps I took in building the project using CMake GUI – repro steps?

From: Andrew Buckley [mailto:notifications@github.com]
Sent: Wednesday, December 7, 2016 12:44 PM
To: Azure/azure-iot-gateway-sdk <azure-iot-gateway-sdk@noreply.github.com>
Cc: kingsolutions <kingsolutions1@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-iot-gateway-sdk]

[2016-12-07 19:07] kingsolutions commented on #66
Still got some errors using CMake GUI Visual Studio 14 2015 generator as shown below:

Thanks, again

-Kingsley

From: Andrew Buckley [mailto:notifications@github.com]
Sent: Wednesday, December 7, 2016 12:44 PM
To: Azure/azure-iot-gateway-sdk <azure-iot-gateway-sdk@noreply.github.com>
Cc: kingsolutions <kingsolutions1@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-iot-g

[2016-12-07 19:14] andrew-buckley commented on #66
Images attached to email responses won't go through. Please use the github issue comment section to paste your screenshots.

Thanks,
-Andrew

[2016-12-07 19:47] kingsolutions commented on #66
Here are the screen shots for both Visual Studio Command Window tool and CMake GUI, respectively with errors:
VS2015 Command Prompt errors:
![image](https://cloud.githubusercontent.com/assets/11579962/20983648/3d89061c-bc8b-11e6-9811-5a25953b74fd.png)
![image](https://cloud.githubusercontent.com/assets/11579962/20983680/590dd37c-bc8b-11e6-824f-c56d82ca15d1.png)

CMake GUI errors:
![image](https://

[2016-12-07 19:58] andrew-buckley commented on #66
Can you navigate to `C:/users/nanos/Documents/GitHub/project/azure-iot-gateway-sdk/deps/iot-sdk/c/build` and paste the output of `error.txt` and `output.txt`.

For the GUI errors, can you try going to File-->Delete Cache, and then select Visual Studio 14 2015 as the generator when you hit Configure after that? If you've not already done so.

[2016-12-07 23:31] kingsolutions commented on #66
Hi Andrew,

I'm sorry for late response. I was out of my desk.

Please find below the contents of the following files:

error.txt - This is file is empty
=============================================================
empty
=============================================================

output.txt:
===============================================================
Microsoft (R) Build Engine version 14.0

[2016-12-08 12:52] sebastianbk opened #67 "Getting a CMake error when building on Windows 10 x64"
I just cloned the master branch and tried building the solution using `cmake-3.7.1-win64-x64`. However, after running the following command, I got a cmake-related error that I don't quite understand.

[code]

Output from Command Prompt:

[code]

**Can you help me understand what I am doing wrong?** The directory is completely clean, as I have just cloned the repo. I am running Windows 10 (64-bit,

[2016-12-08 19:06] andrew-buckley commented on #67
Hi @sebastianbk, are you running the build script from a developer command prompt?

[2016-12-08 23:25] damonbarry commented on #35
Fixed with commit 00ab31f.

Metahost.h is available in several locations (and they're all the same for our purposes), e.g. on my dev box:

     C:\Program Files (x86)\Windows Kits\8.1\Include\um\metahost.h
     C:\Program Files (x86)\Windows Kits\NETFXSDK\4.6\Include\um\metahost.h
     C:\Program Files (x86)\Windows Kits\NETFXSDK\4.6.1\Include\um\metahost.h

Metahost.h is NOT available in the Wind

[2016-12-08 23:25] #35 closed

[2016-12-09 01:25] kingsolutions commented on #66
Andrew, I have been able to build the solution on VS105 Command Prompt. Someone helped me to identify the issue: I had more than 20 characters in the local path where I cloned my repositories. Thanks for your concern.

When I tried to run the solution on the VS2015 Command Prompt, I got yet another series of errors as shown on the screenshot below:

![image](https://cloud.githubusercontent.com/ass

[2016-12-09 02:43] damonbarry commented on #23
@yfakariya: in our C code we're converting module/broker pointers to `long long` (always 64 bits). We're sending the 64-bit values to the C# Broker constructor, which takes C# `long` arguments (always 64 bits).

So on 64-bit platforms everything should work nicely. And on 32-bit platforms, the 32-bit pointer values will be promoted to 64-bits, and then everything should work nicely. All the pointe

[2016-12-09 10:10] AdamMachera commented on #65
Hi,

thanks for clue.

I was able to build it but there is some postbuild event that is failing.
Please find output of my build process:

c:\s\azure-iot-gateway-sdk\tools>build.cmd --config Release --platform x64
--skip-unittests --disable-ble-module --enable-dotnet-binding
Cleaning up build artifacts...
test
test2
test3
***Running CMAKE for Win64***
-- The C compiler identification is MSVC 19.0.2

[2016-12-09 11:19] AdamMachera commented on #65
One more thing I have noticed that assemblies built in 64 are linked still
to 32 dependencies

amachera@MININT-SPU0FNE
/cygdrive/c/s/azure-iot-gateway-sdk/build/modules/logger/Releas           e
$ ldd logger.dll
        ntdll.dll => /cygdrive/c/WINDOWS/SYSTEM32/ntdll.dll (0x7ffdf35e0000)
        KERNEL32.DLL => /cygdrive/c/WINDOWS/System32/KERNEL32.DLL
(0x7ffdf17d0000)
        KERNELBASE.dll => /c

[2016-12-09 11:47] AdamMachera commented on #65
Forget about my second question about x64. I figured out that in system32
are 64bit assemblies. My windows service was built in x86 so this is the
main problem why I couldn't use dotnet.dll built in 64 bits.
Sorry for spam.

Regards,
Adam.

2016-12-09 12:19 GMT+01:00 Adam Machera <adam.machera@gmail.com>:

[2016-12-09 14:22] yfakariya commented on #23
Sorry I missed casting to `long long` in C code. I agree it is no problem. Thanks!

[2016-12-09 14:22] #23 closed

[2016-12-10 19:45] kingsolutions opened #68 "Simulated IoT Gateway SDK Sample Project Errors: Failed to open the connection with CBS and AMQP transport failed to establish connection with the service, respectively."
I have successfully build the azure-iot-gateway-sdk repository. However, I have some issues in run the solution as stated above.

Please find screen shots here:
![image](https://cloud.githubusercontent.com/assets/11579962/21075730/03c0784e-bee7-11e6-8dd6-4ba339facdda.png)

I have tried all I could to fix these errors, but to no success. Could somebody help, please?

Thanks in advance

Kingsley

[2016-12-11 05:18] damonbarry commented on #68
The error at the top of the stack (first line in the output above) shows that getaddrinfo fails with 11001, which is "host not found". Things I can think of that would cause that are:
 - wrong IoTHubName and/or IoTHubSuffix in the JSON config file
 - no connection to the internet
 - an outage somewhere between your device and the service

Are you still seeing this problem?

[2016-12-11 06:24] kingsolutions commented on #68
Yes, I'm still having the errors.

Please can you have a look at my json configuration file and see what I'm doing wrong:
===============================================================
{
  "modules": [
    {
      "name": "IotHub",
      "loader": {
        "name": "native",
        "entrypoint": {
          "module.path": "..\\..\\..\\modules\\iothub\\Debug\\iothub.dll"
        }
      },

[2016-12-11 06:45] kingsolutions commented on #68
Sorry, I have internet connection and my devices are all created  and enabled.

See screen shots here:

![image](https://cloud.githubusercontent.com/assets/11579962/21078612/82921aa4-bf43-11e6-9ffe-a4c29907e78a.png)

[2016-12-11 06:50] damonbarry commented on #68
It looks like you specified your IoTHubSuffix value in both IoTHubName and IoTHubSuffix. IoTHubName should just be "Myhub-Hub".

[2016-12-11 07:05] kingsolutions commented on #68
I have edited the IoTHubName value, this is the new error am getting:

![image](https://cloud.githubusercontent.com/assets/11579962/21078683/2bbd6244-bf46-11e6-861b-99f8019c0adb.png)

[2016-12-11 16:48] damonbarry commented on #68
I suspect your config file has this: `"deviceId": "<<WHART-IP2>>"`.
You should change it to: `"deviceId": "WHART-IP2"` (remove the angle brackets).
It looks like you configured `WHART-IP1` correctly.

[2016-12-11 20:11] kingsolutions commented on #68
Thanks so much, Damonbarry. The solution ran successfully after following your observations, with no errors.

Please do you know where I could find detailed documentation of the sample Simulated Device Cloud Upload solution?

Again, thanks for you help. I apprecite

[2016-12-11 20:45] damonbarry commented on #68
The readme file in the sample directory has detailed information.
https://github.com/Azure/azure-iot-gateway-sdk/tree/master/samples/simulated_device_cloud_upload

Thanks!
Damon

[2016-12-11 20:45] #68 closed

[2016-12-11 23:35] damonbarry commented on #54
Unable to reproduce, and haven't seen any other reports of this issue, so I'm closing it. Please reopen if you can provide steps to reproduce. Thanks!

[2016-12-11 23:35] #54 closed

[2016-12-11 23:39] damonbarry commented on #55
We release to master every two weeks now that the SDK is generally available. We plan to release at the end of the coming week (around Fri Dec 16th), so we'll have a tagged release at that point which contains the fix.

[2016-12-11 23:39] #55 closed

[2016-12-12 18:49] vvenus opened #69 "Win10 x64 CMake Error at gatewayFunctions.cmake:117 (message): Error installing azure_c_shared_utility: 1"
C:\azure-iot-gateway-sdk>tools\build.cmd --platform x64

Then the error was thrown at azure_c_shared_utility installation step .

CMake Error at gatewayFunctions.cmake:117 (message):
  Error installing azure_c_shared_utility: 1
Call Stack (most recent call first):
  dependencies.cmake:13 (findAndInstall)
  CMakeLists.txt:159 (include)

See also "C:/azure-iot-gateway-sdk/build/CMakeFiles/CMakeOutpu

[2016-12-13 01:10] damonbarry commented on #49
Parson was [updated](https://github.com/kgabis/parson/commit/dcf85b88c8f9dd95e1aadcfd0c1dfb83424d6440) to read files with UTF-8 BOM. The gateway updated it's submodule reference to parson (98f8aae). So this issue should be fixed in the latest code on the `develop` branch.

[2016-12-13 01:10] #49 closed

[2016-12-13 01:39] damonbarry commented on #69
Can you provide the contents of `C:\azure-iot-gateway-sdk\deps\c-utility\build\CMakeFiles\CMakeError.log`?

[2016-12-13 01:43] vvenus commented on #69
There is no CMakeError.log. I believe the reason is this is a configuration error instead of make error.

[2016-12-13 01:47] vvenus commented on #69
There is no CMakeError.log. I believe the reason is that this is a configuration error instead of build error. ![image](https://cloud.githubusercontent.com/assets/24530109/21124286/dd872bde-c092-11e6-8ae2-f61ef88e096f.png)

[2016-12-13 01:51] damonbarry commented on #69
Makes sense.

I've not been able to reproduce this. Also our CI server runs a 64-bit Windows build on every check-in. So we'll need to get some more details about your environment to figure this out.

Was this a build on a fresh clone of the SDK? Have you ever built the SDK on this particular PC/environment before? Also, were you building the `master` branch (even better, what's the HEAD commit)?

[2016-12-13 02:13] vvenus commented on #69
Thanks for the guide. I tried again with a fresh clone. The same error happened. There is one more clue I noticed may worth looking into. There was a missing file reported before the build started (no clue what the file is). See cmd output below.

C:\azure-iot-gateway-sdk>tools\build.cmd --platform x64 --skip-unittests --enabl
e-dotnet-binding
Cleaning up build artifacts...
**The system cannot fin

[2016-12-13 06:07] andrew-buckley commented on #69
Hi @vvenus, can you also paste the contents of <repo>/deps/c-utility/build/output.txt and <repo>/deps/c-utility/build/error.txt

[2016-12-13 17:17] vvenus commented on #69
error.txt is empty. please see output.txt attached.

On Mon, Dec 12, 2016 at 10:07 PM, Andrew Buckley <notifications@github.com>
wrote:

--
XX

Microsoft (R) Build Engine version 14.0.25420.1
Copyright (C) Microsoft Corporation. All rights reserved.

Build started 12/12/2016 6:06:38 PM.
     1>Project "C:\azure-iot-gateway-sdk\deps\c-utility\build\install.vcxproj" on node 1 (default targets).

[2016-12-13 17:31] andrew-buckley commented on #69
It looks like the end of the file was truncated. You can attach the entire file by using the GitHub comment section and dragging and dropping the file in.

[2016-12-13 18:30] vvenus commented on #69
[output.txt](https://github.com/Azure/azure-iot-gateway-sdk/files/649783/output.txt)

[2016-12-13 21:17] damonbarry commented on #69
I think this is the source of the error:
[code]
Some unicode chars snuck into [xlogging.h](https://github.com/Azure/azure-c-shared-utility/blob/master/inc/azure_c_shared_utility/xlogging.h), and your compiler chokes on them because you're using a Simplified Chinese code page (936).

We'll need to get this fixed in Azure/azure-c-shared-utility. In the meantime, you could save the file as UTF-8 (or

[2016-12-13 21:59] vvenus commented on #69
Great! Thank you. That's really helpful!

On Tue, Dec 13, 2016 at 1:17 PM, Damon Barry <notifications@github.com>
wrote:

--
XX

[2016-12-13 23:55] damonbarry commented on #65
Yes, our CI server builds for 64-bit Windows whenever we push commits to the repository.

Did you resolve this issue? You pasted your build log into the comment, but it appears to have been truncated. Can you attach the log file to your next GitHub comment (drag & drop into comment window) instead of pasting contents?

Finally, are there any other unresolved issues in this thread?

Thanks!
Damon

[2016-12-14 00:09] damonbarry commented on #66
The "module.path" values in your JSON are Windows paths, so you are using backslashes ("\\"). You need to escape these in JSON...something like this:
[code]

[2016-12-14 00:18] #66 closed

[2016-12-14 05:18] dcristoloveanu opened #70 "Default cmake project generation shouldn't require elevated privileges"
If cmake is ran in a VS x86 command prompt without admin rights there is an error that I did not figure out yet how to bypass.

D:\azure-iot-gateway-sdk\cmake>cmake ..
-- Building for: Visual Studio 12 2013
-- CMake Install Prefix is C:/Program Files (x86)/azure_iot_gateway_sdk-1.0.0/
-- AIG architecture: x86
-- ctest not found...
-- Building ctest...
-- Configuring done
-- Generating done
-- Buil

[2016-12-14 13:11] sebastianbk commented on #67
Hi @andrew-buckley. Thanks a lot! I was doing this on a customer's PC and I forgot that the VS Command Prompt was necessary.

However, I am still having some issues. It seems as if the `metahost.h` file is missing?

Am I doing some wrong or is there a way I can find this file?

[code]

[2016-12-14 14:46] challinan opened #71 "Edison build fails during config due to host linker being invoked instead of cross linker"
Using the Intel Edison toolchain and build corresponding script in "tools" subdirectory fails with
**cannot find crt1.o: No such file or directory**
On analysis, during the CMake config steps where it tries to validate the C compiler, it correctly uses the Edison cross-compiler, but then the link step uses the host's linker (/usr/bin/ld)

That is obviously not correct behavior, and leads to the ab

[2016-12-14 16:13] andrew-buckley commented on #70
Hi @dcristoloveanu, CMake will attempt to install all dependencies that don't already exist on your machine. It will attempt to install those dependencies in the default system location (which requires admin privileges) unless you tell it to do otherwise. You may either set the CMake variable `dependency_install_prefix` to a directory which doesn't require admin privileges to write to, or you may

[2016-12-14 16:27] andrew-buckley commented on #67
This may be a related issue #35.

[2016-12-15 15:24] challinan opened #73 "cmake drops build settings when descending into submodules - compiler checks fail"
I have prototyped a build script modeled after Intel Edison build script and it's corresponding environment setup script from Intel Edison toolchain.  When my build script starts, it sets up the environment, and calls cmake on build_root, the top level CMakeLists.txt performs the compiler checks and they pass.

`-- Check for working C compiler: /home/chris/mgc-cedar-minnowmax/embedded/codebench/bi

[2016-12-15 20:14] vvenus commented on #69
Hello @damonbarry
Similar error happens when installing the UAMQP module. A couple of files have Unicode. I am attaching the C:\azure-iot-gateway-sdk\deps\uamqp\build\output.txt so you guys can help fix.
[output.txt](https://github.com/Azure/azure-iot-gateway-sdk/files/655720/output.txt)

[2016-12-16 01:02] damonbarry commented on #69
@vvenus thanks. I'm making a pass through the various repos right now to remove unicode chars like this.

[2016-12-16 17:16] damonbarry commented on #69
FYI, I just pushed the following commits into the develop branches of dependent repos:

azure-c-shared-utility: [3ca0dce](https://github.com/Azure/azure-c-shared-utility/commit/3ca0dce89c3a2497330c06951950fe9a97b731b7)
azure-uamqp-c: [8204e12](https://github.com/Azure/azure-uamqp-c/commit/8204e129763e83120ec5f4444edf9570ff18ce49)
azure-iot-sdk-c: [6e44254](https://github.com/Azure/azure-iot-sdk-c/

[2016-12-16 21:37] #53 closed

[2016-12-16 21:37] #58 closed

[2016-12-19 11:33] kingsolutions opened #74 "Simulating a WirelessHART -Enabled Gateway SDK"
Hello,
I know the MS Azure IoT Gateway SDK contains the infrastructure and modules to create IoT gateway solutions.
How do we modify or customize the current Real Device sample IoT Gateway solution that is based on Raspberry hardware and Bluetooth Low Power device to a Windows machine(hardware) and any low power device category?
Thanks in advance
Kingsley

Kingsley

[2016-12-19 12:22] avranju commented on #74
The Gateway SDK itself will run fine on a Windows device. As for device connectivity you may need to write a module for the specific device that you wish to connect to. Modules can be written in C, Java, C# (or any other .NET language) or JavaScript (Node.js).

[2016-12-19 12:55] yphuangms commented on #54
The problem still exists in the release of "2016-12-16". After a few more repeated tests, we found the problem is not 100% (always), but it occurred often in my development environment (Windows 8.1 + Visual Studio 2015 Update2).

In previous message I suspected "git submodule foreach ..." is the command that re-generates "build" folder, since it's the only command executed in between "rmdir" and "

[2016-12-19 20:42] kingsolutions commented on #74
Thanks so much Avranju.
Please do you know the path to the source file of the relevant sample module?

[2016-12-20 03:13] avranju commented on #74
If you're writing your module in C then the simplest example to look at would be in `modules/hello_world`. For a .NET module `bindings/dotnet/dotnet-binding/PrinterModule` is a simple example. For Java take a look at `samples/java_sample/java_modules/Printer` and finally for Node.js `samples/nodejs_simple_sample/nodejs_modules/printer.js` is a good starting point.

[2016-12-21 09:57] kingsolutions commented on #74
Thanks again. I got it!

[2016-12-22 12:08] meesern opened #77 "Projects build without symbols"
Hi - I find that having run cmake I can use Visual Studio (2015) to rebuild the projects (specifically simulated_device_cloud_upload_sample).  I get the executable but cannot debug because there are no associated .pdb files for any of the source.  Debugger returns:

'simulated_device_cloud_upload_sample.exe' (Win32): Loaded '...azure-iot-gateway-sdk\samples\simulated_device_cloud_upload\Debug\simu

[2016-12-22 13:47] avranju commented on #77
Are you building a [debug](https://msdn.microsoft.com/en-us/library/wx0123s5.aspx) build in VS? That should generate symbols and you should be able to debug into the source.

[2016-12-22 13:48] #74 closed

[2016-12-22 14:07] Kordonme opened #78 "Slow clone of node repo"
It takes an awful lot of time to clone the node repo and checkout that branch. Isn't it possible to use `--depth 1` to save some time?

`git clone -b shared-691 https://github.com/avranju/node.git --depth 1`

[2016-12-22 14:43] meesern commented on #77
Thanks @avranju  Yes - I'm using the "Debug" solution configuration and the "Win32" solution platform in VS15.  I have tried clean builds.  I agree it should generate symbols but does not.  In VS15 I cannot find a flag or option to enable/disable symbol generation.  The documents seem to say that it will always build symbols.  Might cmake be setting some kind of option in some configuration file?

[2016-12-22 15:43] avranju commented on #78
Makes sense. Yes, we can certainly do that. Will get this done.

[2016-12-22 16:01] avranju commented on #77
**CMake** doesn't specify the build configuration for Visual Studio (unlike for instance a *makefile* build where we can cause it to generate a debug version of the makefile). It's weird that it's not generating PDBs for you even in the debug configuration. In fact, by default, VS should generate PDBs even in the release build configuration.

I suppose you could try fiddling with the debug build s

[2016-12-22 16:04] meesern commented on #77
I have now found an option in VS15  under the project properties:

Properties->Configuration Properties->Linker->Debugging->Generate Debug Info

This was blank and needs to be set to "Optimize for Debugging (/DEBUG)".  Following this a 'Clean' is necessary to recompile the code with symbols.

[2016-12-23 10:15] plillevold commented on #69
@damonbarry any timeframe on when the repo will be updated with the mentioned fixes? imho, master is currently broken because of this.

[2016-12-23 11:46] bironology opened #79 "Building for Raspberry Pi 3 on Raspbian - '__x86_64__ exist failed'"
Hello,

I was following along with the https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-gateway-sdk-physical-device tutorial. Well, after what seemed like over an hour (I had dinner), it errored out.

I'm unfamiliar with this codebase, but the errors seem like pretty basic stuff.

Determining if the __x86_64__ exist failed with the following output:...
...
Determining if the __i386__ exist f

[2016-12-23 15:59] vslepakov opened #80 "Running and Debugging in an IDE --> Dev Experience"
From what I've seen so far all samples deal with building and running on cli.
Is it possible/going to be possible to develop/run/debug in Eclipse/Visual Studio?
It would probably mean starting the gateway process from within the IDE etc.

[2016-12-23 16:40] andrew-buckley commented on #80
Hi @vslepakov, you can run, develop, and debug the gateway in Visual Studio. Just open the solution file after using CMake to generate the project. You may also debug Java modules in any Java IDE of your choice using the remote debugging support for Java modules in the gateway. Please let me know if you'd like more info on remote Java module debugging.

[2016-12-23 16:42] andrew-buckley commented on #79
Hi @bironology, can you please paste the output from the command window too? Thanks!

[2016-12-23 17:28] vslepakov commented on #80
Hi @andrew-buckley, thanks for that information. I would really appreciate some more input on remote Java module debugging

[2016-12-23 19:37] vslepakov opened #81 "Build Failure on tools\build.cmd --enable-dotnet-binding"
Hi,

I get the following error when trying to run tools\build.cmd --enable-dotnet-binding
Running it on Windows 10 x64.

Thanks!

Determining if the _M_AMD64 exist failed with the following output:
Change Dir: C:/Projects/azure-iot-gateway-sdk/build/CMakeFiles/CMakeTmp

Run Build Command:"C:/Program Files (x86)/MSBuild/14.0/bin/MSBuild.exe" "cmTC_53b70.vcxproj" "/p:Configuration=Debug" "/p:VisualS

[2016-12-24 06:50] damonbarry commented on #69
@plillevold to clarify, master is broken _in certain environments_, and there are workarounds.

The fixes are committed into dependent repos as noted above, but those commits aren't yet part of any official release in their respective repos, so our master branch can't point to them yet (in our master branch, we only want to depend upon official releases of other components). So there's a rather he

[2016-12-24 14:34] bironology commented on #79
Sure. Here it is. The line
`-- Installing azure_c_shared_utility. Please wait...
`
was displayed for a very long time (well over 10 minutes) before the error messages.
Thanks!

--
[code]

[2016-12-27 07:15] smetsth commented on #81
Hi @vslepakov ,

I have the same issue. Have you been able to resolve this?
It looks like I'm on the same Visual Studio, MSBuild and C/C++ Compiler versions.

My Visual Studio setup didn't include C/C++ support until yesterday. I added those components afterwards. Maybe that's why I'm running into issues now?

Thanks
Thomas

[2016-12-27 18:11] darobs commented on #81
Hello @vslepakov and @smetsth, there are a couple of things to try to get it working:
- If you have the master branch checked out, try checking out the develop branch
- Sometimes, I get this error when attempting to build one platform, and then switch to a new platform (like switching between 32 and 64 bit windows) without cleaning out the libraries from the previous build. If you have a "C:\Proje

[2016-12-28 10:22] vslepakov commented on #81
Hi @darobs , hi @smetsth thanks for your input. Unfortunately both suggested steps did not resolve the issue. Here is the console output when building on develop (the problem seems to be with deps/umock-c:

Regards
Vitaliy

C:\Projects\temp\azure-iot-gateway-sdk\tools>build.cmd --enable-dotnet-binding
Cleaning up build artifacts...
The system cannot find the file specified.
***Running CMAKE for Wi

[2016-12-28 18:34] darobs commented on #81
I will continue to look for solutions today.  Thanks for your patience, @vslepakov.

[2016-12-29 14:36] AdamMachera opened #83 "Unable to run node module in windows service"
I'm unable to make up and running node js module from windows service.
I have created simple windows service that uses field gateway sdk.
To be able to construct field gateway inside windows service I extended sdk in branch
https://github.com/AdamMachera/azure-iot-gateway-sdk.git
And added to dotnet.dll two methods
Module_DotNetHost_Gateway_CreateFromJson
Module_DotNetHost_Gateway_Destroy
Which I'

[2016-12-29 21:38] aaxan opened #84 "Unable to get the right event data to the IoT Hub"
Running the "simulated_device_cloud_upload_sample" (as described in https://docs.microsoft.com/en-gb/azure/iot-hub/iot-hub-windows-gateway-sdk-simulated-device), I didn't get the expected result:
1. In the Device Explorer of the IoT Hub, the Event Hub Data shows that the Properties are not built correctly:
29/12/2016 22:35:28> Device: [DeviceB], Data:[{"temperature": 15.00}]Properties:
'source': '

[2016-12-30 08:55] vslepakov commented on #81
Thanks @darobs. You are right about me not using the dev command prompt. I will give it a try with dev command prompt on January, 2nd. I'll post the results  here.

Best Regards
Vitaliy

[2016-12-31 01:52] WilliamBerryiii opened #85 "Add better error handling for non-Ascii/UTF-8 encoded JSON config files"
Currently the `parson` lib seems to only supports `utf-8` and `ascii` encoded files for calls to `json_parse_file`, and the gateway just errors out with a generic "can't open file" message.  Given that many text editors and shells (e.g. PowerShell) will default to creating/saving files as "Unicode" (e.g. PowerShell's Out-File function, *which should be codepage 1252?*), it would be helpful to have

[2017-01-03 20:57] stefangordon commented on #80
Similar experience - the layout of the repo and build baffles me so far.  The best I can tell you are expected to fork this repo and hack directly in it (using the entire SDK as a sample, rather than a component which can be versioned and updated).

I went ahead and hand built project files for everything based on the generated ones, and pulled in the bits I needed to make a single clean solution

[2017-01-03 22:16] andrew-buckley commented on #79
Gotcha, can you also paste the output of these two files:
**/deps/c-utility/build/output.txt** and **/deps/c-utility/build/errors.txt**

[2017-01-03 22:20] damonbarry commented on #84
@aaxan when you say

what do you mean? Did you expect to see certain properties in the output, but they aren't there? Or is the JSON syntax not what you expect?

It would be great to see an example of expected output alongside the actual output.

[2017-01-03 23:39] avranju commented on #78
This change has now been checked-in to the *develop* branch - https://github.com/Azure/azure-iot-gateway-sdk/commit/08f073f0874ee1845dfd08269dddc3483a18bad9.

[2017-01-03 23:39] #78 closed

[2017-01-03 23:44] darobs commented on #80
Hi @stefangordon - this is definitely still a work in progress.  We are working towards releasing the SDK as a package (like the C SDK is released as a NuGet package and a Debian package).

As an intermediate step, we set up the gateway SDK and its IoT C SDK dependencies to be installable in either a system folder or local to the repo.  I installed the libraries to the system directory as a test,

[2017-01-03 23:54] avranju commented on #83
I am not entirely sure what we can do in this case. I would imagine that when running a gateway as a Windows service with Node.js modules, you may want to replace calls to `console.log` with something that logs to the Windows Event Log instead. The [node-windows](https://github.com/coreybutler/node-windows) is a package that appears to have some APIs that you can use for this. There are other opti

[2017-01-04 00:19] stefangordon commented on #80
Excellent info, Thanks!

[2017-01-04 15:38] aaxan commented on #84
At the 1. issue in my comment I put the log message I get in the Device Explorer of the IoT Hub, this is e.g.
29/12/2016 22:35:28> Device: [DeviceB], Data:[{"temperature": 15.00}]Properties:
 'source': 'mapping'

It means that the event was received from the device "DeviceB", the data in JSON format is {"temperature": 15.00}. After that, it looks like the message above isn't formed correctly, e.g.

[2017-01-04 16:42] #65 closed

[2017-01-04 16:49] damonbarry commented on #67
We believe the metahost.h issue is resolved in the [2016-12-16](https://github.com/Azure/azure-iot-gateway-sdk/releases/tag/2016-12-16) release. See #35 for more details. Closing this issue.

[2017-01-04 16:49] #67 closed

[2017-01-04 17:09] damonbarry commented on #77
Closing, since you've found a solution.

I'll also note that, with the latest bits from `develop`, I used `tools\build.cmd` to do cmake build, then opened `build\azure_iot_gateway_sdk.sln` in VS2015 and rebuilt the project `simulated_device_cloud_upload_sample`. After I set that project as the startup project in VS and hit F10, it stepped into the main function without a hitch.

[2017-01-04 17:09] #77 closed

[2017-01-04 17:27] andrew-buckley commented on #80
@vslepakov, please have a look at the sample gateway configuration file [here](https://github.com/Azure/azure-iot-gateway-sdk/blob/master/samples/java_sample/src/java_sample_win.json) for the java sample. In the loaders section you may specify different jvm options for the java module loader. You should add these two additional options to the **jvm.options** section to enable remote debugging:
[co

[2017-01-04 18:30] damonbarry commented on #81
@vslepakov did you get the chance to try this with the Developer Command Prompt?

[2017-01-04 18:33] #83 closed

[2017-01-04 19:12] damonbarry commented on #84
The Device Explorer tool doesn't make any attempt to JSON-format the "Event Hub Data" output in the Data tab. The fact that `Properties: 'source': 'mapping'` doesn't contain square brackets doesn't matter because `Properties` is not a JSON name, it's just a hard-coded label in the UI. The fact that the device name (`DeviceB`) and the message payload (`{"temperature": 15.00}`) are surrounded in squ

[2017-01-04 19:12] #84 closed

[2017-01-04 19:15] damonbarry commented on #80
It looks like all outstanding questions here have been resolved. Closing...

[2017-01-04 19:15] #80 closed

[2017-01-04 21:21] WilliamBerryiii commented on #85
Agreed that documenting is probably preferable in this case.

If I'm not mistaken the default text editors Notepad (windows), Wordpad (old windows) and TextEdit (mac) save to ANSI which may or may not have the issue with including/excluding the BOM and/or defaulting to the 1252 codepage(for windows).

And I did indeed solve my file encoding issue with the `-Encoding` arg for out-file.

[2017-01-05 00:24] damonbarry commented on #85
I made changes to several markdown files, commit ID is 1fc89fc.

[2017-01-05 00:24] #85 closed

[2017-01-05 00:37] WilliamBerryiii commented on #85
Thanks @damonbarry!

[2017-01-05 13:19] mtheolog opened #86 "Deploy the gateway sdk to dragonboard running windows iot core"
Hi, i have run the tools\build.cmd script and run the hello_world sample successfully in my windows 10 laptop. I have to deploy the iot gateway sdk to a dragonboard 410c. I face two problems: a) i can not debug it as ARM in Remote Windows Debugger mode and b) when i successfully build it using tools/build.cmd script i want to know how to deploy it directly to the dragonboard.

[2017-01-05 14:44] terrymandin opened #87 "Build fails - error C2065: '_M_AMD64': undeclared identifier"
I am receiving an error when I build.  See details below:

==============
Command line output
==============

C:\tmp\iotgwsdk\azure-iot-gateway-sdk\tools>build
Cleaning up build artifacts...
The system cannot find the file specified.
***Running CMAKE for Win32***
-- Building for: Visual Studio 14 2015
-- The C compiler identification is MSVC 19.0.24215.1
-- The CXX compiler identification is MSVC

[2017-01-05 14:52] terrymandin commented on #87
Building development branch also fails (details below).

-- Installing umock_c. Please wait...
CMake Error at gatewayFunctions.cmake:117 (message):
  Error installing umock_c: 1
Call Stack (most recent call first):
  dependencies-test.cmake:19 (findAndInstall)
  CMakeLists.txt:163 (include)

-- Configuring incomplete, errors occurred!
See also "C:/tmp/iotgwdev/azure-iot-gateway-sdk/build/CMakeFile

[2017-01-05 15:01] vslepakov commented on #81
@darobs , @damonbarry thank you guys so much. using dev command prompt did the trick

[2017-01-05 15:01] #81 closed

[2017-01-05 15:39] vslepakov commented on #87
Try Building using the Developer Command Prompt. It did the trick for me

[2017-01-05 16:40] stefangordon opened #88 "Allow comments in Json"
Just an idea - I can imagine everyone has mixed feelings on it.

If we change the called to `json_parse_file()` at https://github.com/Azure/azure-iot-gateway-sdk/blob/master/core/src/gateway_createfromjson.c#L57

to `json_parse_file_with_comments()` parson will let us use c style comments (/**/ and //) in our JSON.  Which of course is not in the spec, but is extremely nice during development when

[2017-01-05 16:42] Zuendelmeister opened #89 "Java Development Environment Maven problem"
Greetings,

I want to build the Java Development Environment on Windows 10 but get some issues with maven. I tried both ways that you described.
1.:
I tried to search for "com.microsoft.azure.gateway" here: http://search.maven.org/. Unfortunately there was no entry (No records found, try new search criteria).
2.:
After installing with "mvn clean install" there is no {IoT gateway SDK root}/bindings

[2017-01-05 17:53] terrymandin commented on #87
Thanks!  That got me a bit further:

Build succeeded.
    0 Warning(s)
    0 Error(s)

According to this [page](https://github.com/Azure/iot-gateway-opc-ua) the following files should have been created, but they are not there:

- Microsoft.Azure.IoT.Gateway.dll
- Microsoft.Azure.IoT.Gateway.pdb
- dotnet.dll
- dotnet.pdb

I ran "build.cmd".  Was there another step that is required?

[2017-01-05 18:21] darobs commented on #87
Hi @terrymandin, the dotnet bindings aren't built by default.
Please run the following:
tools\build_dotnet.cmd
tools\build.cmd --enable-dotnet-binding
(in a Developer Prompt :) )

That should get you what you want.
Thanks,
Dave

[2017-01-05 19:43] damonbarry commented on #86
We don't yet have support for UWP in the gateway SDK. I believe there's a way to deploy one of our (native) samples to your Windows IoT Core device via PowerShell or remote debugger--I did it once a few months back. You'd have to look at the Windows documentation to figure that out.

Are you saying that you can run/debug other apps on Windows IoT Core, but when you try to run/debug one or our gate

[2017-01-05 19:49] damonbarry commented on #88
I ran across the parson function `json_parse_file_with_comments()` just yesterday for the first time, and had the same thought. I think we could add a cmake option `allow_comments_in_json` (OFF by default) that would cause our code to use `json_parse_file_with_comments()` instead of `json_parse_file()`.

Sounds like a great PR!

[2017-01-05 20:35] terrymandin commented on #87
Thank you, I now have the dll's I require.  Much appreciated!

[2017-01-05 20:40] mtheolog commented on #86
Thanks for the reply. I will try power shell in order to deploy the gateway sdk example to dragonboard.

Regarding to the second problem, in visual studio 15 I can debug,run and deploy wup apps in windows iot core, I can debug and run the gateway sdk hello world example in win32 mode but when I am trying to debug it in ARM mode it fails.

[2017-01-06 16:51] andrew-buckley commented on #89
Hi @Zuendelmeister, thanks for pointing this out.

1. Our java binding has not yet made its way to the Maven Central Repository. I'll update our documentation to note that this will be the recommended way once the bits are placed in Maven Central.

2. We no longer add the "-with-deps" suffix to that jar file. When creating your modules, we recommend creating a "shaded" jar file which packages all

[2017-01-06 19:24] #87 closed

[2017-01-06 20:07] damonbarry commented on #86
We can take a look at the debugging problem on ARM...can you give us more details about what you're doing? (screenshots, logs, etc)

[2017-01-08 11:59] mtheolog commented on #86
Thanks for your support. Well, after running the tools\build.cmd script (without any arguments), i open the azure_iot_gateway_sdk.sln solution with Visual Studio Community 2015 (version 14.0.25431.01 update 3). Before actually open the solution the following message appears:
![image](https://cloud.githubusercontent.com/assets/24936096/21749509/692b885e-d5a8-11e6-91c8-d72c6bf062a0.png)

By pressing

[2017-01-09 09:22] mtheolog commented on #86
Regarding my first problem i.e. how to deploy one of your sample to my windows iot core device i followed your advice and read from windows documentation that i can deploy an application into my device via Windows Device Portal (https://msdn.microsoft.com/en-us/windows/uwp/debug-test-perf/device-portal) But i have to create an application package. How can i create a package application containing

[2017-01-09 09:43] Zuendelmeister commented on #89
Hi @andrew-buckley , thanks for the fast reply. I´ll try it out.

[2017-01-09 17:10] darobs commented on #71
Hello @challinan,  I'm looking at this issue, among other cross-compile issues.  I'm hoping to get back to you soon.

[2017-01-09 21:05] ahidaka opened #90 "BLEIO_gatt_read_char_by_uuid Line:155 g_tree_lookup() failed on Raspbian."
I checked and completed #51 bluez-5.37 workaround for BLE.

Error: Time:Tue Jan 10 05:45:11 2017 File:/home/pi/q/azure-iot-gateway-sdk/modules/ble/src/ble_gatt_io_linux_read.c Func:BLEIO_gatt_read_char_by_uuid Line:155 g_tree_lookup() failed.
Error: Time:Tue Jan 10 05:45:11 2017 File:/home/pi/q/azure-iot-gateway-sdk/modules/ble/src/bleio_seq_linux_schedule_read.c Func:schedule_read Line:119 BLEIO_

[2017-01-09 21:12] ahidaka opened #91 "Cannot build from released source code."
Error message:
$ ./tools/build.sh --skip-unittests
fatal: Not a git repository (or any of the parent directories): .git

Source code:
https://github.com/Azure/azure-iot-gateway-sdk/archive/2016-12-16.tar.gz
from
https://github.com/Azure/azure-iot-gateway-sdk/releases

[2017-01-09 22:08] darobs commented on #91
Hello @ahidaka, we're using git submodules as part of our build, and the .zip file does not contain any git information.

We recommend you clone the repository, rather than download the zip file.

[2017-01-09 23:44] avranju commented on #90
Could you please paste the output you're seeing when you run `list-attributes` from `bluetoothctl`?

[2017-01-10 07:28] ahidaka commented on #91
OK, thanks. I understand 2016-12-16.tar.gz is just for the documentation, not for build.
I recommend to add such kind of comment to https://github.com/Azure/azure-iot- gateway-sdk/releases.
"These Source codes (tar.gz) is not for build."

[2017-01-10 07:56] ahidaka commented on #90
Thanks. When I checked the list-attributes, there are no response messages. Your advice was helpful to understand the BLE gateway sample code.

After I reboot the system, "list-attributes" output was fixed normally. But I found new error massage for gateway execution. Anyway I will close this issue and open new issue for new error.

[2017-01-10 07:56] #90 closed

[2017-01-10 15:49] darobs commented on #91
Good idea.  I added that note to our release tasks, thanks.

I'm going to close this issue, if you have any more concerns, please reopen this or open a new issue.

[2017-01-10 15:49] #91 closed

[2017-01-11 00:15] #89 closed

[2017-01-11 00:57] LeonardBae opened #93 "Windows 10 x64 build.cmd error"
I try to below command, but error occurred.
build.cmd --platform x64

error message is as a below.

C:\azure-iot-gateway-sdk\tools>build.cmd --platform x64
Cleaning up build artifacts...
***Running CMAKE for Win64***
-- The C compiler identification is MSVC 19.0.24215.1
-- The CXX compiler identification is MSVC 19.0.24215.1
-- Check for working C compiler: C:/Program Files (x86)/Microsoft Visual

[2017-01-11 04:33] startemplar opened #94 "Error Loading Library running Java binding sample on Windows 10 x64"
Hi,
I get the following error when following the guide and trying to run tools\build.cmd --enable-java-binding
Running it on Windows 10 x64.
https://github.com/Azure/azure-iot-gateway-sdk/tree/develop/samples/java_sample

      "C:\src\azure\iot\azure-iot-gateway-sdk\build\azure_iot_gateway_sdk.sln" (default target) (1) ->
       "C:\src\azure\iot\azure-iot-gateway-sdk\build\bindings\java\java_mod

[2017-01-11 05:37] startemplar commented on #94
Fixed by installing JDK x86 version and updating JAVA_HOME. But encountered another error
C:\src\azure\iot\azure-iot-gateway-sdk\build\samples\java_sample>Debug\java_sample.exe ..\..\..\samples\java_sample\src\java_sample_win.json
Error: Time:Tue Jan 10 21:35:00 2017 File:C:\src\azure\iot\azure-iot-gateway-sdk\core\adapters\dynamic_library_windows.c Func:_DynamicLibrary_LoadLibrary Line:17 Error L

[2017-01-11 05:43] LeonardBae commented on #93
and I tried too below command.
but error was occurred, too.

build.cmd --platform x64 --skip-unittests --enable-dotnet-binding

C:\azure-iot-gateway-sdk\tools>build.cmd --platform x64 --skip-unittests --enable-dotnet-binding
Cleaning up build artifacts...
***Running CMAKE for Win64***
-- The C compiler identification is MSVC 19.0.24215.1
-- The CXX compiler identification is MSVC 19.0.24215.1
-- C

[2017-01-11 15:36] Zuendelmeister opened #95 "Can't install SDK on linux with node.js binding"
Greetings again. I have tried to install this on 3 different Linux versions. I'm out of ideas of fixing this so I hope you can help me.

Redhat 7 => After "./build.sh --enable-nodejs-binding" it can't find 'uuid'. The fix should be "yum install uuid-dev". Unfortunately this can't be installed. I also tried to load the right .tar.gz and .rpm and make uuid-dev but that didn't work as well (probably

[2017-01-11 16:18] andrew-buckley commented on #95
Hi @Zuendelmeister, please paste the output of these two files:
`~/azure/deps/c-utility/build/output.txt` and `~/azure/deps/c-utility/build/errors.txt`

[2017-01-11 18:56] Zuendelmeister commented on #95
Hi @andrew-buckley , thank you so much for your fast response.
output.txt:

errors.txt:

Seems that a file is missing. This is in the folder azure/deps/c-utility/adapters/:
agenttime.c             platform_freertos.c        threadapi_pthreads.c
agenttime_mbed.c        platform_linux.c           threadapi_rtx_mbed.cpp
condition_pthreads.c    platform_mbed.cpp          threadapi_win32.c
condition_rt

[2017-01-11 19:15] andrew-buckley commented on #95
Seems like at least one dependency is missing from your machine, curl. [This document](https://github.com/Azure/azure-iot-gateway-sdk/blob/master/doc/devbox_setup.md#set-up-a-linux-development-environment) provides a list of the dependencies you will need installed. Please install these and let me know what issues you run into. If you already have these installed please let me know!

[2017-01-11 19:51] darobs commented on #73
Hello @challinan, our own Intel Edison and Wind River Linux cross-compiles are interesting.  They really weren't taking advantage of CMake's toolchain capability - they were setting up the environment to use the native build tools and set the target sysroot.  It works for the specific toolchains we have, but we ran into similar problems on other platforms.

One interesting thing to note: CMake doe

[2017-01-11 21:00] Zuendelmeister commented on #95
Aahh great hint. I installed all the dependencies. Unfortunately I have a new issue. It seems like the NODE_LIB and NODE_INCLUDE environment variables are wrong:

The program told me: Export the following variables so that the Azure IoT Gateway SDK build scripts can find these files.

Which is what I did. Then i looked if it worked:

Here the output of ./build.sh --enable-nodejs-binding

This is i

[2017-01-11 21:20] avranju commented on #95
The extra `/` in the paths for the variables `NODE_INCLUDE` and `NODE_LIB` seems redundant. Can you try removing that please? So instead of `/home//azure/build_nodejs/dist/inc` for example,  you might want to try `/home/azure/build_nodejs/dist/inc`. Also, are these paths real - i.e. do the include and lib folders contain the include, lib and SO files?

Finally, have you *exported* these variables

[2017-01-11 22:03] challinan commented on #73
I believe it is the submodule problem we are seeing.  At one point, I was "guessing" that cmake was actually either dropping or changing our toolchain variables.  This would certainly explain that behavior.  Thanks for looking at this.

[2017-01-11 22:43] darobs commented on #73
This has been pushed into the develop branch. I'll be curious to see if this change helps you.

[2017-01-12 03:19] damonbarry commented on #73
[899eb5b](899eb5bdd334234b7e8e882159392585c0aa9a36)

[2017-01-12 06:32] Zuendelmeister commented on #95
Good catch. I didn't see the "//". Its strange that the install script told me to use those paths. I just copied and pasted. My fault. So now I fixed the paths but the same happens:

[2017-01-12 17:08] teamdevmatch opened #96 "Node.js module initialization issue when starting module is .NET"
Hey guys,

first of all I want to thank everybody who is contributing to this repo. I really think you're doing an amazing job here providing us with this open foundation for creating custom hybrid solutions in a fast and consistent way. Also looking forward to be a contributor very soon.

Right now I'm messing around with various gateway configurations and ran into an issue when setting up a Node

[2017-01-12 17:15] Zuendelmeister commented on #95
Ok i started from scratch and it worked great. Thank you guys so much. The last problem was probably because I set up the environment too late. Can be closed.

[2017-01-12 18:21] BXCellent commented on #94
I had the same problem, so I fixed it manually by doing:
mkdir "C:\Program Files (x86)\azure_iot_gateway_sdk-1.0.0\lib\modules"
copy {installdir}\build\bindings\java\Debug\java_module_host.dll "C:\Program Files (x86)\azure_iot_gateway_sdk-1.0.0\lib\modules"

It then didn't find jvm.dll so I had to add the jdk1.8.0_112_x386\jre\bin and jdk1.8.0_112_x386\jre\bin\server to the PATH environment variab

[2017-01-12 19:01] darobs commented on #93
Hello @LeonardBae, I suspect the problem is in the `install-deps` folder.  If you delete this folder and run the build again, it will probably work.

Usually, I get this cryptic error because I switched between 32 and 64 bit windows, and the `install-deps` folder only holds one set of binaries at a time.

[2017-01-12 19:18] #95 closed

[2017-01-12 20:12] damonbarry commented on #71
[899eb5b](899eb5bdd334234b7e8e882159392585c0aa9a36)

[2017-01-12 22:22] avranju commented on #96
Thanks for filing the issue @teamdevmatch. From what I can tell it sounds like a race condition of sorts. The .NET module appears to get initialized and starts producing messages before the Node.js module has had a chance to load and initialize. Are you commencing sending of messages from your .NET module from the `IGatewayModule.Create` method or are you using the `IGatewayModuleStart.Start` meth

[2017-01-13 00:14] teamdevmatch commented on #96
Hey @avranju, the .NET module is the SDK's sensor sample (DotNetSensorModule) and the thread for publishing messages is created in the  `IGatewayModuleStart.Start` method. This should be the right place, I reckon.
Going to fiddle around a bit on replacing the `Thread` with a `Timer` or `Task` but I not sure if that'll make any difference.
Thanks so far looking into this topic.

[2017-01-13 00:55] avranju commented on #96
I see. I am going to say that this is an issue with the Node.js binding implementation. In this case I would expect the binding code that bridges the Node.js runtime with the rest of the gateway to delay delivery of the message to the JS code till it has been initialized. I'll file a task for this and get this addressed. Thanks for reporting this!

[2017-01-13 01:05] teamdevmatch commented on #96
Alright, that seems reasonable. Just found out when I give the message thread a little `Thread.Sleep(500)` before creating the first message the Node module will initialize without any warning/info and also process the first message.

[2017-01-13 07:13] LeonardBae opened #97 "BLE gateway"
I am a bit curious about using azure-iot-gateway-sdk at this time.
I would like to use azure-iot-gateway-sdk on Winodws 10(and IoT Core in the future) to test interworking with real equipment(TI BLE Sensor Tag).
The scenarios in the links below only support LINUX, which I want to test on Windows.
Is there any way?
Or will you be providing support for Windows in the future?

[2017-01-13 07:15] LeonardBae commented on #93
Downloading the sub-module solved the problem.
Thank you for your comments. @darobs

[2017-01-13 07:15] #93 closed

[2017-01-13 17:06] andrew-buckley commented on #94
Hi @startemplar and @BXCellent, there is an option you can add to the JSON Configuration file under the Java Loader configuration. The gateway will search in you system install directory to try to find the native binding module. If you don't have the gateway installed on your machine, you can add the key `"binding.path"` to the java loader configuration with the path to the `java_module_host.dll`:

[2017-01-13 17:07] andrew-buckley commented on #94
Additionally, don't forget to setup your environment as described [here](https://github.com/Azure/azure-iot-gateway-sdk/blob/master/samples/java_sample/java_devbox_setup.md).

[2017-01-13 19:29] WilliamBerryiii commented on #97
Here is a [BluetoothLE example for UPW](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/BluetoothLEClient).  I would think you could build a small dll leveraging the UWP APIs and drop it into your gateway module chain.

[2017-01-13 19:31] avranju commented on #97
As of now there isn't a plan to support Windows for the BLE module. One option may be to do what @WilliamBerryiii suggests. Another option might to be write a module using Node.js via the [node-sensortag](https://github.com/sandeepmistry/node-sensortag) package.

[2017-01-13 20:20] mtheolog commented on #97
Similarly, I am trying to use the  Simulated_device-cloud-upload sample on windows 10 iot core. Knowing that it it is not UWP I wonder if there is a custom suggestion that I could follow.

[2017-01-13 21:48] damonbarry commented on #79
Not a lot of activity, so closing.

[2017-01-13 21:48] #79 closed

[2017-01-13 21:50] damonbarry commented on #86
@mtheolog application packages are for UWP, which we don't support yet.

[2017-01-13 21:55] damonbarry commented on #97
@mtheolog Are you wondering about using BLE on Windows? Not sure what you mean by "custom suggestion"...

[2017-01-13 22:14] #94 closed

[2017-01-14 01:49] damonbarry commented on #69
Fix is in master.

[2017-01-14 01:49] #69 closed

[2017-01-14 01:50] damonbarry commented on #73
Fix is in master

[2017-01-14 01:50] #73 closed

[2017-01-14 01:50] damonbarry commented on #71
Fix is in master

[2017-01-14 01:50] #71 closed

[2017-01-14 06:19] mtheolog commented on #97
I am trying to use the simulated device cloud upload sample. Right now I can build the gateway sdk on windows 10. But I want to run it on windows 10 iot core and I wonder how can I do it.

[2017-01-14 07:02] mtheolog commented on #86
Ok, thanks. In order to investigate further using Microsoft documentation I would need to understand how to build and debug gateway sdk on ARM mode via VS 15 in windows 10.

[2017-01-16 09:34] toddwhitehead opened #99 "Extending BLE Sample"
Firstly, awesome job on the SDK and samples!

I've got the BLE sample working with a SensorTag now I'd like to extend the sample to include additional data points from the tag. My C is rusty and I cannot figure out where to make the change to send/collect additional data such as humidity. The docs describe the sensor as sending temp data so do I need to modify the device init somewhere? Any pointe

[2017-01-17 18:50] avranju commented on #99
You should be able to simply add additional instructions in the JSON configuration file for the additional data you're interested in. The `instructions` array in the module's `args` attribute can be extended to include additional GATT characteristics.

[2017-01-17 23:09] damonbarry commented on #97
@mtheolog Alright, let's use #86 to address that. Closing this issue...

[2017-01-17 23:09] #97 closed

[2017-01-17 23:13] damonbarry commented on #99
It looks like the questions here are answered, so I'll close this issue. We'd love to gather momentum for Q&A stuff like this on Stack Overflow (using the tag `azure-iot-gateway-sdk`), so if you have further questions we'd love to see them there. Thanks!

[2017-01-17 23:13] #99 closed

[2017-01-19 19:33] obsoleted opened #102 "Device Management support (e.g. Device Twins?)"
Is there support for the device management features in the gateway sdk?

I'm specifically wondering how to add [device twin](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins) functionality to my solution. I would have thought there would be some way for the iothub module to report state and get desired state and message accordingly to/from other modules.  But this doesn

[2017-01-20 09:32] barnstee commented on #10
https://github.com/Azure/azure-iot-gateway-sdk/pull/103

[2017-01-20 15:49] barnstee opened #104 "Heap corruption in gateway.dll during module loading"
Found a bug and luckily this one is 100% repro: During module loading, the gateway.dll suffers from a heap corruption when built in release. It doesn’t happen in debug. Modules loading are the dotnet OPC UA client module and the IoT Hub module.

You should also build PDBs for Release builds to make debugging stuff like this easier.

[2017-01-20 19:41] chipalost commented on #102
Device management through the gateway is a key part of our strategy; however it is not available yet. Device management was in the private preview 1 stage when that blog post was written. We had the original solution plumbed through the gateway; however due to customer feedback we expanded the scope of our device management infrastructure. That resulted in DM private preview 2 and the bits we rece

[2017-01-23 20:05] damonbarry commented on #86
@mtheolog I promise I haven't forgotten about this...I've been slammed lately and haven't found the time to investigate debugging Windows IoT Core on ARM...

[2017-01-23 20:06] damonbarry commented on #96
@teamdevmatch Update: @zafields is working on this fix for this...shouldn't take too much longer.

[2017-01-23 20:08] damonbarry commented on #102
@obsoleted Like @chipalost said, that work is in our backlog. We've added the enhancement label, and we'll keep this issue open until DM work in the gateway is completed.

[2017-01-24 08:40] asac opened #107 "how to best ship a gateway sample/product"
Hi,

it is easy enough to use the azure-iot-gateway-sdk to develop and hack on a gateway. Building the samples is easy and running the ble_gateway also works with some effort, but I couldn't figure how to really package things up so that I have everything that is needed to run ble_gateway nicely together in one folder...

maybe running make install DESTDIR=/target/folder/to/zip/up in the samples/b

[2017-01-24 08:42] asac commented on #107
alternatively what would be super great would be to have a way to link everything statically into one binary. This would making shipping the product of the sdk work super easy and portable.

[2017-01-26 00:01] darobs commented on #107
Hello @asac, working on a packaging story for all the platforms we support is on the roadmap.

In the meantime, I'm building the repo to see what exactly we need to make a proper package on both Windows and Linux.  It's been a while since I've tried this, so I want to make sure I have it right.

[2017-01-26 00:35] zafields commented on #96
@teamdevmatch The fix is in master, can you please update and confirm this addresses your issue.

[2017-01-26 14:59] gerrik84 opened #109 "azure-iot-field-gateway-sdk.bb bitbake failed"
Hi,
since i updated the repository i'm not able to build the azure-iot-field-gateway-sdk.bb recipe.

My build System:
[code]

Also tested with:
[code]

Error log:

Has there been any changes which i have to make ?

[2017-01-27 00:28] darobs commented on #107
On Linux, the core gateway needs:
[code]
That's enough to start the gateway, but to run one or more samples, you will also need the modules:
[code]
plus
[code]

If you want high level binding, we'll need these binding libraries:
[code]
plus
[code]

We did consider putting everything into one big static library, but we want the modules to be loaded and unloaded dynamically. This means the modules a

[2017-01-27 00:38] darobs commented on #109
In order to get a better idea of what went wrong, could you attach `deps/ctest/build/error.txt` and `deps/ctest/build/output.txt`? That will give me a lot of information.

I'll also be trying this myself, so I'll let you know if I run into any trouble and how I fixed it.

[2017-01-27 07:44] mtheolog commented on #86
I am looking forward to...
thanks.

[2017-01-27 10:01] lucarv opened #111 "failed to prepare environment for node"
trying to follow the instructions on the nodejs_simple_sample README.
No joy. Like that:
----------------------------------------------------------------------------------------------------------------------
warning: unable to access 'deps/npm/node_modules/node-gyp/node_modules/npmlog/node_modules/gauge/node_modules/string-width/node_modules/code-point-at/node_modules/number-is-nan/.gitattributes'

[2017-01-27 11:36] gerrik84 commented on #109
error.txt is empty....

output.txt:

[2017-01-27 17:15] shz13009 commented on #21
+1

[2017-01-27 18:54] avranju commented on #111
I am guessing you're running into the [Windows maximum path length](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx#maxpath) issue. Do you think you could attempt cloning the repo in the root of a drive? For example: **c:\azure-iot-gateway-sdk**?

[2017-01-30 09:18] lucarv commented on #111
i put it in a ubuntu VM, still not working but at least i don't have the long path issue anymore

[2017-01-30 09:25] lucarv opened #112 "segmentation fault"
just running the simple_sample example, got this:

Gateway is running. Press return to quit.
printer.receive - 36, 18
Segmentation fault (core dumped)

repeatedly....clues?

[2017-01-30 17:05] darobs commented on #109
OK, so it looks like ctest built correctly, but failed when installing it to the local "install-deps" directory, or at least the command returned a non-zero value.  I'll run it myself to see what I get.

[2017-01-30 18:00] damonbarry commented on #111
@lucarv Can you post the output from your Ubuntu VM (including the command you issued)?

[2017-01-30 19:10] damonbarry commented on #112
@lucarv I assume #111 is no longer an issue if you are able to run the Node.js sample?

Let's figure out what's happening here. Can you give us a little more information? Specifically:
- The git commit ID you are currently sync'd to in your local repo
- Your operating system & version
- The full output when you run the sample (including the command you issued)

Thanks!

[2017-01-30 19:16] damonbarry commented on #107
I'll also add that we've tried to leave open the possibility of building everything statically, although I hasn't been extensively tested. One missing piece we know about is a static loader so the gateway can call statically-linked modules; this is not a difficult piece to write, it just hasn't been a high enough priority. Running the gateway on an embedded OS would require this.

[2017-01-30 19:16] #107 closed

[2017-01-30 22:00] zafields commented on #112
Hi guys,

I just made sure my Ubuntu was fully up to date and started with fresh clone of `https://github.com/azure/azure-iot-gateway-sdk/` (master branch). I ran through all the steps in our sample, but I was unable to reproduce this error.

I am using these versions:
node v7.4.0
python v2.7.12

@lucarv Can you share version information from your configuration?

[2017-01-31 02:22] damonbarry commented on #86
I thought you were saying you couldn't debug the ARM-based sample app via Visual Studio, but it looks like you can't even compile...is that right? The error above isn't difficult to fix (I've seen this in the past)...basically you hand-edited the Visual Studio project files but you missed some small step if I remember correctly.

However, I can avoid that problem by letting CMake generate the ARM-

[2017-01-31 07:20] lucarv commented on #112
@damonbarry:
#111 still an issue, i just moved to linux as i am pressed for time
<git commit ID>
tree b123a25d47ab4130931f8948ce74c6b7ad41f163
parent 05c98e0ed7c1f06c9baebbbd43d7b207e561ebbd
parent ba14c79687fb9ddf42ac408d68c37f7b76f4a45b
author Azure IoT Builder <azioclb@microsoft.com> 1485560441 +0000
committer Azure IoT Builder <azioclb@microsoft.com> 1485560441 +0000

<OS>
Ubuntu 14.04.4 LTS
k

[2017-01-31 11:28] lucarv commented on #112
quick update, i have moved out from the parallels vm and deployed on a physical box, exact same config and the problem disappeared. i will not investigate this further, but could it be a problem caused by the hypervisor itself???

[2017-01-31 13:14] asac commented on #107
thanks for the guidance. This worked, but it still does not install the sample it self (though it builds it)

[2017-01-31 18:47] avranju commented on #104
The issue here was that when you switched the build configuration to *Release* in Visual Studio for the gateway, it continued to link with the *Debug* build of the dependencies that it automatically built for you when you ran cmake. This is bad because on Windows, one gets different implementations of the C runtime (CRT) with different build configurations which means that anytime we have memory a

[2017-01-31 21:05] avranju commented on #112
I did a test with Docker on macOS and it worked fine. Docker for Mac runs the Docker engine in a Linux VM using macOS's native [hypervisor](https://developer.apple.com/reference/hypervisor). So yes, this is likely a problem with the virtualization of some system call on Parallels.

[2017-01-31 22:22] #112 closed

[2017-01-31 22:23] damonbarry commented on #111
If you are seeing something on Windows other than the max path length issue (which is simply a hard limitation in Windows--nothing for us to do about it), please reopen with details. Thanks!

[2017-01-31 22:23] #111 closed

[2017-02-01 02:09] damonbarry commented on #86
Today I deployed hello_world_sample.exe to an RPi2 running Windows IoT Core. I was able to debug the sample from Visual Studio. Here's what I did:
- Generated VS ARM project via CMake (see my previous comment)
- Found [this](http://www.seanliming.com/Docs/Articles/IoT10Core/Windows-10-IoT-Core-Native-Remote-Debug-V1.3.pdf) document on the web, and followed it to deploy to Windows IoT Core device a

[2017-02-01 12:08] gerrik84 commented on #109
ok thanks

[2017-02-01 17:12] meesern opened #115 "Debugging"
What is the recommended solution for debugging the Azure IoT gateway?  I have an example running on a Raspberry Pi.  Ideally we would like to develop and debug via Visual Studio on a windows platform.  I have tried for some time to make this work with Microsoft VC_Linux cross platform tools but does not work well with a project that already exists.
We would appreciate guidance on debugging in the

[2017-02-01 17:37] avranju commented on #115
I have had success remote debugging the gateway on a Pi from Visual Studio 2015. I was able to do this by using the **Makefile project template**. Search for "Makefile Project Template" in this [blog post](https://blogs.msdn.microsoft.com/vcblog/2016/03/30/visual-c-for-linux-development/). This template allows you to take control of what it means to "build", "clean" and "rebuild" by specifying the

[2017-02-02 04:42] 606simps opened #116 "Build fails with --run-unittests enabled"
Hi,

I tried to build the Gateway 2017-01-13 version with --run-unittests enabled on a Windows 10 64bits machine. I got the following errors. The build worked fine without --run-unittests enabled. Please advise. Thanks!

       "D:\code\azure-iot-gateway-sdk_0113\build\azure_iot_gateway_sdk.sln" (default target) (1) ->
       "D:\code\azure-iot-gateway-sdk_0113\build\modules\ble\tests\ble_ut\ble_u

[2017-02-02 04:55] aribeironovaes commented on #116
Hi Stephen,

Try deleting the install deps folder and running the command again.

Thanks

Angelo Ribeiro

Sent from my phone

[2017-02-02 14:48] meesern commented on #115
Thanks, I can get so far with this.  I can now start a debug session and hit a breakpoint at main, but VS is unable to set a breakpoint on functions such as BLEIO_gatt_connect() in ble_gatt_io_linux_connect.c.

It appears that symbol information in missing in the linux build as it was in the windows build.

How can debug information be restored for files in the module libraries (in this case libbl

[2017-02-03 04:16] 606simps commented on #116
Hi Angelo,

Thanks, problem solved. Any guess of the reason causing this? I only built .net and c modules.

Thanks,
Stephen

[2017-02-03 04:34] aribeironovaes commented on #116
Yes, you probably have built it before without the --run-unit-test option.
When we do that we don't build tests dependencies on our deps.

One mitigation that we did was to add the option to rebuild the dependencies...

But we were discussing today that it would be good to have a way to detect of tests dependencies were built or not.

Glad it worked for you.

Thanks,

Angelo Ribeiro

Sent from my

[2017-02-03 06:06] 606simps commented on #116
Thanks for the clarification.
Stephen

[2017-02-03 15:16] GrantEdwards opened #118 "CMake failure when building for arm platform"
I'm trying to build the SDK on a Linux AMD64 host for an ARM9 target,
and I keep getting a configuration failure for azure_c_shared_utility,
and I'm unable to determine what's wrong

    $ ./tools/build.sh --toolchain-file ../Toolchain-arm-linux.cmake
    ~/azure/azure-iot-gateway-sdk/build ~/azure/azure-iot-gateway-sdk
    -- The C compiler identification is GNU 4.6.3
    -- The CXX compiler iden

[2017-02-03 16:29] GrantEdwards commented on #118
The error is caused by a missing include file uuid/uuid.h.  It appears that the gateway SDK
is intended for full-up Linux systems rather than small embedded systems?

I would suggest this implementation for UniqueId_Generate().  It's much more portable and
requires minimal library support.  Warning: I haven't been able to test it yet, since I still can't
get the SDK to build for my ARM target due

[2017-02-03 19:02] darobs commented on #109
I'm still working on this, and I _think_ the bitbake recipe needs to be updated, but getting a system set up and running bitbake is going slowly for me.

I did realize we have a wealth of information from our Intel counterparts, where they publish their patches and adjustments to the Azure-IoT-Gateway.
Please check out  https://github.com/intel-iot-devkit/meta-iot-cloud/tree/master/recipes-azure/a

[2017-02-03 19:06] #116 closed

[2017-02-05 18:54] GrantEdwards opened #119 "Cross-build not finding libraries"
The handling of cross development appears to be fundamentally broken.

In my cmake toolchain file, I specify where the libraries are.  When
building c-utility, it finds libssl, but not libcurl (which is in the
_same_ directory).

Here's the content of deps/c-utility/build/error.txt:

    /home/nextgen/toolchain/bin/../lib/gcc/arm-unknown-linux-uclibcgnueabi/4.6.3/../../../../arm-unknown-linux-ucli

[2017-02-05 20:12] avranju commented on #115
I tried reproducing this and I encountered the same issue. I am able to set breakpoints and debug when I directly run **gdb** on the Pi but Visual Studio does not seem able to do the same. I also tried debugging on an x64 Linux VM and had the same result. From what I can tell Visual Studio remote debugging for Linux appears unable to detect dynamic SO loads via `dlopen` syscalls. I stepped in to t

[2017-02-05 20:41] avranju commented on #115
To confirm this I wrote a small test case program and found the same behavior. If I try to step into a function that has been loaded via `dlopen` and `dlsym` it segfaults. Will check with the VS team and let you know.

[2017-02-05 22:15] avranju commented on #115
To unblock you now though there's a workaround you can implement to debug `libble.so` (or any other SO that is linked at runtime via `dlopen`). The workaround involves:

1. Explicit linking with the runtime linked library
2. Configure the linker to not ignore linked libraries if symbols from it are not used (which is the case when using runtime linking)

For the BLE module for instance, you'd do t

[2017-02-06 10:06] mtheolog commented on #86
Thank you very much for your effort and support. I followed all the steps and i managed to run and debug the sample in my device running windows 10 iot core.

[2017-02-06 11:57] mtheolog commented on #86
But according to the documentation, the hello_world module creates a message every 5 seconds and passes it to the logger module that logs it to a file. The log.txt file created in my device running windows 10 iot core contains only the following:

[{"time":"Mon Feb  6 01:54:53 2017","content":"Log started"},{"time":"Mon Feb  6 01:54:54 2017","content":"Log stopped"},{"time":"Mon Feb  6 03:21:55 20

[2017-02-06 15:23] GrantEdwards opened #120 "build.sh --clean doesn't work"
The build.sh --clean option appears to be ignored.  There doesn't seem to be any way to rebuild
sources.

[2017-02-06 15:48] GrantEdwards opened #121 ""make" command doesn't re-compile modified source file"
When I modify a C source file (e.g. deps/c-utility/adapters/httpapi_curl.c),
and then do a "make" in the build directory, that source file does not get re-compiled.

Running ./tools/build.sh also does not re-compile the file.

Removing the library file that contains the code from httpapi_curl.c
(install-deps/lib64/libaziotsharedutil.so) also fails to re-compile
the file:

    $ make
    [  3%] Bui

[2017-02-06 16:04] GrantEdwards opened #122 "Suggestion: print useful curl error messages."
The current httpapi_curl.c just prints "Error" when a curl call fails.

That's not very useful.

Attached is a patch that shows how you print out useful curl error
messages.

[2017-02-06 16:07] GrantEdwards commented on #122
Ah, you're not allowed to attach files with a suffix of .patch.  I've renmed it.
[httpapi_curl-useful-error-message.patch.txt](https://github.com/Azure/azure-iot-gateway-sdk/files/755154/httpapi_curl-useful-error-message.patch.txt)

[2017-02-06 16:52] GrantEdwards commented on #121
The only way I've found to make sure modified source files get compiled is to run build.sh
for a different target architecture, and then re-run it for the desired target architecture.

[2017-02-06 18:35] damonbarry commented on #86
The VECTOR errors are harmless. You're seeing them because you're using a patch of azure-c-shared-utility. When we officially update our dependency on that component, we'll fix that.

I'll take a look at the log file on my end, and also try simulated_device_cloud_upload.

[2017-02-07 01:42] damonbarry commented on #86
You aren't seeing any data in the log (or in IoT Hub) because the sample apps use getchar() to detect that the user wants to quit the app. getchar() won't work in a Win32 app deployed to Windows IoT Core (it returns immediately). In my app (main.c), I commented out getchar() and added a Sleep(10000) call. Then my log looked like this:

[code]

I was also able to send data to IoT Hub from simulated

[2017-02-07 06:04] damonbarry commented on #122
It would be great if you could file a pull request in the [azure-c-shared-utility](https://github.com/Azure/azure-c-shared-utility) repo for this. I'd do it on your behalf, but if you're contributing code you need to sign the CLA.

[2017-02-07 06:04] #122 closed

[2017-02-07 06:10] damonbarry commented on #118
@GrantEdwards How does your suggested code above fix the #include error?

If you could attach two files from your build it would help us narrow down the problem:
deps/c-utility/build/error.txt
deps/c-utility/build/output.txt

[2017-02-07 06:18] damonbarry commented on #119
I agree this should be fixed. In our azure-c-shared-utility dependency, the root [CMakeLists.txt](https://github.com/Azure/azure-c-shared-utility/blob/master/CMakeLists.txt#L513) file simply references curl, without doing a proper CMake `find_package()` first.

[2017-02-07 06:28] damonbarry commented on #120
Yeah, `--clean` was part of the original build script, but didn't see much use and eventually went stale. The right thing to do is to remove it, since the build script deletes the cmake `build/` folder every time (i.e., every build is a clean build).

If you've already built and you want to rebuild the gateway bits without calling the build script, the way to do it in Linux is (from the repo root

[2017-02-07 06:41] damonbarry commented on #121
Run the gateway SDK's build.sh with the `--rebuild-deps` option, or manage dependencies manually.

[2017-02-07 06:41] #121 closed

[2017-02-07 07:32] damonbarry commented on #119
I submitted a [pull request](https://github.com/Azure/azure-c-shared-utility/pull/53) in the azure-c-shared-utility repo for this.

[2017-02-07 15:35] teamdevmatch commented on #96
Hey @zafields,

sorry for the delayed answer, i had some issues updating and building the new sources...
... after i did a new clone, the build succeeded and i can confirm that my issue is resolved and now the gateway works as expected.

Thanks for the fix, i am closing this issue...

[2017-02-07 15:35] #96 closed

[2017-02-07 18:21] avranju commented on #104
@barnstee Do you think it's OK to close this issue?

[2017-02-08 16:42] GrantEdwards opened #126 "Network transport layer error handling issues"
I've been testing on Linux with the "simulated device" sample app that
simulates two BLE temperatures sensors. So far I've tried three
different transports: HTTP/curl, AMQT and MQTT.

All appear to have error handling problems.

 * **HTTP/curl**

   Failure to open a connection (CA failure, auth failure, etc.)
   generates a handlful of error messages (typically 4-6 messages). It
   then spins in

[2017-02-08 18:48] darobs commented on #109
Hi @gerrik84 , I'm still working on this. I can see the same error you do when I use our example bitbake file. This file wasn't updated when we made several changes to the build, as we've been cross-compiling when targeting the Edison.

While looking at this issue, I've discovered the way the Intel people have done it makes much more sense, and if you can successfully incorporate their recipes, I

[2017-02-09 02:32] darobs commented on #109
Now that I have the Intel recipes working, my recommendation stands.  Intel has done a very good job of providing bitbake recipes that work with the azure SDKs.

My steps:
[code]
Then I followed the instructions [in the Configuration section of the README](https://github.com/intel-iot-devkit/meta-iot-cloud#Configuration).

After that, I added this line to my conf/local.conf in my build:
[code]
Aft

[2017-02-09 11:51] gerrik84 commented on #109
thnaks i will try that approach.

[2017-02-09 12:56] gerrik84 commented on #109
when i try this i get the following error when building the packagegroup-cloud-azure

[2017-02-09 18:09] GrantEdwards commented on #118
It doesn't include <uuid/uuid.h>.

Nor does it need the uuid library at link time.  [That requires a
different fix to remove the -luuid from the link command.]

As I mentioned above: the error is caused by a missing include file
uuid/uuid.h

My platform doesn't have libuuid or uuid/uuid.h.  The uuid library is
part of util-linux.  Util-linux is itself quite large, and it pulls in
some other heavyw

[2017-02-09 19:13] damonbarry commented on #126
There are disparities in the [device SDK](https://github.com/Azure/azure-iot-sdk-c) between the protocols regarding retry algorithms and error handling. The device SDK team is working to make these consistent over time.

I'll move this issue into the device SDK repo, where you can track the status...

[2017-02-09 19:15] darobs commented on #109
I get the same thing when I attempt to make everything in `recipes-azure`, and `python-azure-iot-sdk `in particular.  I only added the gateway (`azure-iot-gateway-sdk`) recipe, which isn't dependent on the `python-azure-iot-sdk ` recipe.

i.e.:
`meta-intel-edison/meta-intel-edison-distro/recipes-core/images/edison-image.bb:IMAGE_INSTALL += "azure-iot-gateway-sdk"`

[2017-02-09 21:20] tameraw commented on #126
This issue was moved to Azure/azure-iot-sdk-c#63

[2017-02-09 21:20] #126 closed

[2017-02-10 23:35] #119 closed

[2017-02-10 23:44] GrantEdwards commented on #119
For future reference, you can specify compiler and linker flags in
your cmake toolchain to point to library locations, but there's a
trick to it:

    SET(CMAKE_EXE_LINKER_FLAGS "-L<whatever>" CACHE STRING "" FORCE)
    SET(CMAKE_SHARED_LINKER_FLAGS "-L<whatever>" CACHE STRING "" FORCE)
    SET(CMAKE_C_FLAGS "-L<whatever>" CACHE STRING "" FORCE)

WARNING: This is pure cargo-cult cut-and-paste.  I

[2017-02-11 01:50] damonbarry commented on #118
In the azure-c-shared-utility repo, we already provide a CMake option called `use_default_uuid`. If you set this when you build azure-c-shared-utility, then we build a cross-platform version of `UniqueId_Generate` which doesn't require `uuid/uuid.h`. That solves the problem you're seeing.

That said, the gateway SDK build system does not honor this option--we don't pass it down to azure-c-shared-u

[2017-02-12 23:59] AshleyPak8 opened #131 "CMake failure when running the "build.cmd" from the /tools dir."
C:\azure-iot-gateway-sdk\tools>build.cmd
Cleaning up build artifacts...
The system cannot find the file specified.
***Running CMAKE for Win32***
-- The C compiler identification is unknown
-- The CXX compiler identification is unknown
CMake Error at CMakeLists.txt:5 (project):
  No CMAKE_C_COMPILER could be found.

CMake Error at CMakeLists.txt:5 (project):
  No CMAKE_CXX_COMPILER could be found.

[2017-02-13 00:17] darobs commented on #131
Hello @AshleyPak8, yes, for Windows, you do need to have the Visual C++ option installed for Visual Studio.  We are currently expecting VS 2015 (i.e. version 14).

If you already have that installed, then the most likely problem is that you're running it in a regular command window.  If that's the case, try running the build command in a "Developer Command Prompt."

Beyond that, I'll need to do so

[2017-02-13 01:38] AshleyPak8 commented on #131
HI @darobs , I have the following installed:

Microsoft Visual Studio Professional 2015
Version 14.0.25431.01 Update 3
Microsoft .NET Framework
Version 4.6.01055

Installed Version: Professional

LightSwitch for Visual Studio 2015   00322-40000-00000-AA042
Microsoft LightSwitch for Visual Studio 2015

Visual Basic 2015   00322-40000-00000-AA042
Microsoft Visual Basic 2015

Visual C# 2015   00322-4

[2017-02-13 02:33] darobs commented on #131
I have cl.exe in"C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\BIN\cl.exe" which is part of my PATH in a developer prompt.  If you've installed VC++, cl.exe should be in VC\BIN of the install folder.

I suspect that Visual Studio lost track of where the compiler is.

I found [this ](https://blogs.msdn.microsoft.com/deva/2015/03/24/after-migration-vs-2013-c-project-throws-error-trk0005-fai

[2017-02-13 18:34] damonbarry commented on #131
@AshleyPak8 in the *same* command prompt that you used above, what output do you get if you run the command `where cl`? Here's what I get:

![where-cl](https://cloud.githubusercontent.com/assets/9042469/22897220/ce90f4c2-f1d7-11e6-91a3-4cc240b9c744.png)

[2017-02-13 22:01] AshleyPak8 commented on #131
@damonbarry & @darobs

@darobs was correct, i was missing the C+ compiler from install. Once I install the right compiler, I had no issues in using CMAKE to compile the .dlls and directories I needed.

Thank you for your support. I am sure I will be back for more:)

Regards

-Ashley

[2017-02-13 22:02] #131 closed

[2017-02-14 01:21] damonbarry commented on #118
I added an option to CMake, now I need to expose it through our build script...

[2017-02-14 01:59] damonbarry commented on #118
Should be ready to go now... @GrantEdwards please give it a try!

[2017-02-14 05:14] Kevin0626 opened #133 "cross compiler toolchain surport"
hi, i wonder if current build infrastrctrue can surport additional cross compilation?

[2017-02-14 13:56] mtheolog commented on #86
Thanks for your effort. I was out of the office. In the next days i will take a look and i will come back.
Maria.

[2017-02-14 16:59] darobs commented on #133
Hello @Kevin0626  - we do have other customers who have done cross-compiles to other platforms and targets.  The `tools/build.sh` script supports a `--toolchain-file` option to pass a toolchain file into cmake.

If you're lucky, this is all you need for the cross compile.

[2017-02-14 20:17] damonbarry commented on #109
PR #132 updated our documentation to recommend using the Azure recipes from Intel, and removed our bitbake file. Please let us know if the [new instructions](https://github.com/Azure/azure-iot-gateway-sdk/blob/aa580c17f35d9f34cb079bd90ee60b540b360774/samples/simulated_device_cloud_upload/README.md#yocto-linux-and-intel-edison) don't work for you. Thanks!

[2017-02-14 20:19] damonbarry commented on #86
Great, thanks! I'll go ahead and close this now, but don't hesitate to reopen if my instructions above don't work.

[2017-02-14 20:19] #86 closed

[2017-02-15 11:12] gerrik84 commented on #109
Thanks i will check that later today.

[2017-02-15 19:03] damonbarry commented on #115
This question seems to have been answered. Not much activity lately, so I'll close this.  Please reopen if needed.

[2017-02-15 19:03] #115 closed

[2017-02-16 12:29] gerrik84 commented on #109
Thanks that worked for me.

[2017-02-24 19:40] damonbarry commented on #133
No activity...closing. Please reopen if needed.

[2017-03-02 11:07] mtheolog commented on #86
Thank you very much for your effort. Till yesterday, I was working on the IoT device/service SDK thus I couldn't manage to run your instructions.  But today, I run both samples in my device with successful results (sent data to IoT Hub). As we have decided to move on IoT gateway SDK, I have to build modules for IoT Gateway in .NET on a device running windows 10 iot core. I suppose that I can't fol

[2017-03-02 11:19] mtheolog opened #143 "Build sdk with .net binding on a device running windows 10 iot core (related to Issue #86)"
Following our previous communication regarding Issue 86 and as we are working now on IoT gateway SDK, I have to build modules for IoT Gateway in .NET on a device running windows 10 iot core. I suppose that I can't follow the instructions written in https://github.com/Azure/azure-iot-gateway-sdk/blob/master/samples/dotnet_binding_sample/README.md, i.e run tools\build_dotnet.cmd and then run tools\b

[2017-03-02 11:21] AdamMachera opened #144 "Unable to build x64 nodejs"
I'm unable to build x64 nodejs.
I took today latest master.
I executed
build_nodejs.cmd
build.cmd --platform x64 --config Release --disable-ble-module --enable-nodejs-binding

I'm getting exception:

       "c:\s\azure-iot-gateway-sdk\build\azure_iot_gateway_sdk.sln" (default target) (1) ->
       "c:\s\azure-iot-gateway-sdk\build\bindings\nodejs\nodejs_binding.vcxproj.metaproj" (default target) (

[2017-03-02 17:57] aribeironovaes commented on #86
Hi Maria,

We haven't tried to run dotnet sample on Windows 10 IoT Core, however, if
you want to try, you can start by trying the .Net Core sample. Assuming
that Windows 10 IoT Core has .NET Core installed in it.
https://github.com/Azure/azure-iot-gateway-sdk/tree/master/samples/dotnet_core_module_sample

Keep in mind that we don't support UWP App yet, so it would have to be a
console application

[2017-03-02 18:46] avranju commented on #144
The issue is that `build_nodejs.cmd` builds x86 bits by default and you're attempting to build a 64 bit version of the gateway SDK which tries to link with the Node.js library files. You'll want to build a 64 bit version of Node.js as well. Can you try running `build_nodejs.cmd` like so please?

[code]

[2017-03-02 19:09] aribeironovaes commented on #143
Hi Maria,

Did you try running https://github.com/Azure/azure-iot-gateway-sdk/blob/master/samples/dotnet_core_module_sample/README.md?

Also, what it your Device? Do you know if it is x86 or x64? Right now we have known issue with .NET Core on x86, it's working for x64 and for Linux.

Let us know,

Angelo Ribeiro.

[2017-03-03 08:41] mtheolog commented on #143
Hi Angelo,
Our device is a dragonboard 410c (ARM) that runs windows 10 iot core and in order to build and deploy the gateway on it, I followed the steps described in Issue 86 and not the generic build process described in your documentation. Actually, I built the gateway for ARM by letting cmake generate the ARM flavored Visual Studio projects (as specified in Issue 86) and then I deployed it to W

[2017-03-03 21:11] aribeironovaes commented on #143
Hi Maria,

I honestly don't know. AFAIK, .NET Core is not officially supported in ARM (I may be wrong), but I did see some people (and this is the beauty of an open community! :)) building .NET Core on Arm.

That said, assuming you got already gateway building on your gateway what you should do would be:
1-Making sure you have .NET Core built for ARM;
2-Get the location where you have your .net co

[2017-03-03 21:13] aribeironovaes commented on #21
Hey guys, I wonder if you saw that we now Support .NET Core Modules! :D It's in master already.

So, do try and let us know.

We have some known issues (like Windows x86), but we should be good on Windows x64 and Linux right now. (ARM is still not officially supported by .NET Core.

Let us know. Cheers,

Angelo Ribeiro.

[2017-03-07 00:06] damonbarry commented on #104
Fix is in the [2017-03-06](https://github.com/Azure/azure-iot-gateway-sdk/tree/2017-03-06) release.

[2017-03-07 00:06] #104 closed

[2017-03-07 00:07] damonbarry commented on #109
Fix is in the [2017-03-06](https://github.com/Azure/azure-iot-gateway-sdk/tree/2017-03-06) release.

[2017-03-07 00:07] #109 closed

[2017-03-07 00:07] damonbarry commented on #118
Fix is in the [2017-03-06](https://github.com/Azure/azure-iot-gateway-sdk/tree/2017-03-06) release.

[2017-03-07 00:07] #118 closed

[2017-03-07 00:07] damonbarry commented on #120
Fix is in the [2017-03-06](https://github.com/Azure/azure-iot-gateway-sdk/tree/2017-03-06) release.

[2017-03-07 00:07] #120 closed

[2017-03-07 00:08] damonbarry commented on #21
.NET Core modules are supported in the [2017-03-06](https://github.com/Azure/azure-iot-gateway-sdk/tree/2017-03-06) release!

[2017-03-07 00:08] #21 closed

[2017-03-07 14:28] yfakariya commented on #21
Thank you for great work! I'll try it.

[2017-03-07 19:24] damonbarry commented on #144
Adam confirmed that his question was answered, closing...

[2017-03-07 19:24] #144 closed

[2017-03-09 18:57] maccence opened #155 "I try to below command, but error occurred"
I try to below command, but error occurred

build.cmd --enable-dotnet-binding
 But I found this error in the cmakeError notepad

Build flags:
Id flags:

The output was:
1
Microsoft (R) Build Engine version 14.0.25420.1
Copyright (C) Microsoft Corporation. All rights reserved.

Build started 09/03/2017 19:41:01.
Project "C:\Users\ymlaouhia\azure-iot-gateway-sdk\build\CMakeFiles\3.8.0-rc2\CompilerId

[2017-03-09 19:04] damonbarry commented on #155
Sorry...what command did you try? And what exactly was the error?

[2017-03-09 19:07] maccence commented on #155
Hi Damonbarry, I am sorry You can find now my error. I just posted it

[2017-03-09 19:45] damonbarry commented on #155
I see that you're using Visual Studio 2015, and it looks like CMake is able to find the compiler and linker--that's good.

ucrtd.lib comes from the Windows SDK. I wonder if you upgraded from an earlier version of Visual Studio, and perhaps you don't have the right version of the Windows SDK installed?

What version of VS 2015 do you have? Is it Update 3, or something else?

If you do an internet s

[2017-03-09 19:57] maccence commented on #155
I did an Internet search and the solution is to open visual studio and define the ucrtd.lib path for the project to build. But for me, its different. When I launch the command build.cmd --enable-dotnet-binding, the project compilerIdc is generated automatically without ucrtd path (I checked this, the path is empty) so the problem here is how to make the command generate the project with the right

[2017-03-09 21:08] damonbarry commented on #155
Right, the solutions I saw had to do with (re)installing the right Windows SDK, or repairing your VS install.

What version of VS2015 do you have? And did you upgrade from a previous version, or was this a fresh install?

[2017-03-09 21:20] maccence commented on #155
How to know the version of the visual studio 2015? it is a fresh install

[2017-03-09 21:29] maccence commented on #155
But the problem is that the project "CompilerIdc" is generated without a path for ucrtd.lib so the execution is interrupted before enabling the building. I don't know what happened for those who used the same command ?

[2017-03-09 21:52] maccence commented on #155
This picture shows the configuration of the project additional dependencies.
As you see there is not a path.
![2017-03-09 22_50_04-compileridc - microsoft visual studio](https://cloud.githubusercontent.com/assets/26273323/23772372/03b96638-051b-11e7-9dd4-b701f76f72b8.png)

[2017-03-09 22:30] damonbarry commented on #155
If you go to "Help" on the VS2015 menu, then select "About" it will show you the version.

Certain libraries, specifically in the C/C++ runtime and Windows SDK, may not need explicit paths--Visual Studio checks certain paths implicitly. So it's not surprising that you don't see the path. You can go to the Project Properties and select "VC++ Directories" to see the implicit paths that Visual Studio

[2017-03-09 23:00] maccence commented on #155
Thank you for the help.
Yes I am using Developer Command Prompt for VS2015.

Now, I will copy the ucrtd.lib to the one of the scanned paths by visual studio. Do you recommend that from me?

[2017-03-09 23:03] maccence commented on #155
or I change the scanned path by the right ones?

[2017-03-09 23:43] damonbarry commented on #155
I wouldn't copy ucrtd.lib.

First, I would look at your "Library Directories" setting in VS. Do you have something similar to "C:\Program Files (x86)\Windows Kits\10\lib\10.0.xxxxx.0\ucrt\x86"? If so, what is it exactly? And do you have that folder on your filesystem?

I suspect you may end up (1) installing the latest Windows 10 SDK, and (2) perhaps updating your "Library Directories" (or maybe r

[2017-03-09 23:54] maccence commented on #155
In my system folder, I have a path similar to C:\Program Files (x86)\Windows Kits\10\lib\10.0.xxxxx.0\ucrt\x86" but no one of the scanned paths by VS is similar to this. The paths take to other folder which doesnt contain ucrtd.lib .

[2017-03-10 09:13] maccence commented on #155
These are the paths scanned by Visual Studio

C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin
C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\include
C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\atlmfc\lib
C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\lib
C:\Program Files (x86)\Windows Kits\8.1\References\CommonConfiguration\Neutral
C:\Program Files (x86)\Micro

[2017-03-10 10:42] maccence commented on #155
I resolved this problem by adding the ucrtd.lib to one of the scanned paths.
Now, I have another problem. This is what I found in the CmakeEroor notepad file:

Determining if the _M_AMD64 exist failed with the following output:
Change Dir: C:/Users/ymlaouhia/azure-iot-gateway-sdk/build/CMakeFiles/CMakeTmp

Run Build Command:"C:/Program Files (x86)/MSBuild/14.0/bin/MSBuild.exe" "cmTC_cd389.vcxproj"

[2017-03-10 17:31] damonbarry commented on #155
If you search our closed issues for `_M_AMD64` you'll see that several people have hit this issue. In nearly every case, it's because they weren't running the command inside a "Developer Command Prompt for VS2015". You may also want to pass the `--rebuild-deps` flag to our build.cmd, in case your dependencies are in a weird state.

[2017-03-10 17:57] maccence commented on #155
But I am using The developer command prompt for VS2015.
How can I pass the --rebuild-deps flag to the build.cmd?

[2017-03-10 18:17] damonbarry commented on #155
Your original command line: `build.cmd --enable-dotnet-binding`
...becomes: `build.cmd --enable-dotnet-binding --rebuild-deps`

[2017-03-10 19:01] maccence commented on #155
It is better  now. Some errors are corrected but I still have an error.
 This is the cmake error notepad: (and I attached the command prompt with the comment)

Determining if the _M_AMD64 exist failed with the following output:
Change Dir: C:/Users/ymlaouhia/azure-iot-gateway-sdk/build/CMakeFiles/CMakeTmp

Run Build Command:"C:/Program Files (x86)/MSBuild/14.0/bin/MSBuild.exe" "cmTC_9b204.vcxproj"

[2017-03-10 19:28] damonbarry commented on #155
Can you attach `deps\ctest\build\error.txt` and `deps\ctest\build\output.txt`?

[2017-03-10 20:04] maccence commented on #155
The error file is empty and this is the output file
[output.txt](https://github.com/Azure/azure-iot-gateway-sdk/files/834996/output.txt)

[2017-03-10 20:13] damonbarry commented on #155
ctest is the very first dependency we try to build prior to building the gateway SDK itself. And while trying to build ctest, your compiler quickly runs into this error:
[code]
stdio.h is a core header of the C runtime, so if your compiler can't find that you're in trouble. 😮

It really looks to me like there's something wrong with your Visual Studio install, and I'm not sure how to fix it. If I w

[2017-03-10 21:03] maccence commented on #155
Thank you very much, i'll do as you said and i'll let you updated. Thanks again

[2017-03-10 23:17] AdamMachera opened #161 "Exception while closing gateway"
I'm creating gateway from c# using those function

        [DllImport("gateway.dll", CharSet=CharSet.Ansi, EntryPoint = "Gateway_CreateFromJson", CallingConvention = CallingConvention.Cdecl)]
        public static extern IntPtr GatewayCreateFromJson([MarshalAs(UnmanagedType.LPStr)] string filePath);
        [DllImport("gateway.dll", EntryPoint = "Gateway_Destroy", CallingConvention = CallingConven

[2017-03-13 10:34] JagatjyotiMohanty007 commented on #94
Step1:- After successful building the program when I am running this its throwing me the below exception.
Could please help me in resolving the same.

![capture](https://cloud.githubusercontent.com/assets/25581230/23850698/708536d8-07d8-11e7-96b3-99d433127253.PNG)

[2017-03-13 10:36] JagatjyotiMohanty007 commented on #94
![image](https://cloud.githubusercontent.com/assets/25581230/23850800/de651344-07d8-11e7-8593-788530a17c06.png)

[2017-03-13 18:00] #143 closed

[2017-03-15 09:04] murdockcrc opened #167 "nodejs_simple_sample does not save data to IoT Hub"
Hi,

I have noticed that the sample does not upload data to IoT Hub. I figured this out by using the Device Explorer tool and monitoring the device which I used to execute the sample.

I particular, I noticed that the `Message` object is being created with empty data on this line:
[code]

Replacing this with the following solves the problem:
[code]

[2017-03-15 16:05] darobs commented on #167
Wow, I was able to reproduce this no problem.  I'll fix this and generate a pull request.

[2017-03-15 20:09] avranju commented on #161
This issue is under investigation.

[2017-03-15 22:38] darobs commented on #167
Merged via commit db4c16

[2017-03-20 18:04] damonbarry commented on #155
@maccence Great! I'll close this for now...please reopen if needed. Thanks!

[2017-03-20 18:04] #155 closed

[2017-03-22 09:19] vslepakov opened #176 "Error running dotnetcore sample"
When I try running the dotnetcore sample following error is displayed in the console:
![dotnet_core_runtime_error](https://cloud.githubusercontent.com/assets/1545509/24190463/f766a436-0ee8-11e7-85d6-35955887d4fa.PNG)

[2017-03-22 11:12] ddobric opened #177 "Error when running 'dotnet_core_managed_gateway'"
The sample 'dotnet_core_managed_gateway' build successfully, but it cannot start. It fails with following exception:

`System.BadImageFormatException: 'An attempt was made to load a program with an incorrect format. (Exception from HRESULT: 0x8007000B)'`

I have installed dotnetcore 1.1.1 setup, which in fact installs v1.0.1.
After that I have copied dotnetcore.dll, gateway.dll and nanomsg.dll to

[2017-03-22 11:40] vslepakov commented on #176
build.cmd --enable-dotnet-core-binding --platform x64 and
build_dotnet_core.cmd --config x64

seem to resolve the issue.  the sample is running. seems to be some platform mismatch...

[2017-03-22 12:13] vslepakov opened #178 "dotnetcore sample fails to load iothub.dll"
I extended the dotnet_core_module_sample by addind the identity_map and iothub native modules.
My configuration:

[code]

[2017-03-22 12:36] vslepakov commented on #178
...because the iothub_client.dll was missing. it is not really transparent where things come from.

[2017-03-22 16:48] aribeironovaes commented on #176
Hi @vslepakov,

First, thanks for using our Gateway SDK.
So, you don't need to pass --config x64 on build_dotnet_core.cmd, in fact you don't need to run this script yourself, when you run the script build.cmd --enable-dotnet-core-binding --platform x64 it will already run the build_dotnet_core.cmd.

That said, from your error message you posted seems that the error was to load the .NET Core CLR. S

[2017-03-22 16:53] aribeironovaes commented on #178
Hi @vslepakov ,

Thanks for your feedback. So, after copying the iothub_client.dll did you get your sample to run?

So, these are just sample, but if you want to integrate them (Adding iothub and identitymap modules together with .NET Core Sensor and Printer module) you have to also make sure you have all the dependencies copied/generated.

If you take a look into simulated_device_cloud_upload sam

[2017-03-22 18:04] damonbarry commented on #176
Closing...please reopen if needed. Thanks!

[2017-03-22 18:04] #176 closed

[2017-03-22 18:18] avranju commented on #161
I have not been able to reproduce this issue.

[2017-03-22 22:52] vslepakov commented on #178
Hi @aribeironovaes ,

thanks for your reply, yes after copying the iothub_client.dll it just worked.
It is ok to copy dependencies around manually or using CMake, the problem is just that one does not really know what needs to be copied where and why.

As you pointed out, we used the simulated_device_cloud_upload sample to compare it to the dotnet_core_module_sample in order to figure out what is

[2017-03-22 23:36] aribeironovaes commented on #178
Thanks @vslepakov ,

Good feedback. We could add on that document the list of dependencies needed for that module, although the list is added on the CMakeFile.

So, not sure I understood your question regarding generating the gateway executable outside of any sample...
If you take actually a closer look into our samples, the only difference between them are the Cmake Files (Copying the dependencie

[2017-03-23 07:22] vslepakov commented on #178
Hi @aribeironovaes ,

Thanks for the information, I appreciate it.

Best Regards
Vitaliy Slepakov

[2017-03-23 07:22] #178 closed

[2017-03-23 08:53] WilliamBerryiii opened #181 "Question: build.cmd fails on deps build"
Ran into an interesting issue today with a Win10 machine running the latest cmake & latest git from an admin VS2017 dev cmd prompt; the script consistently fails on executing and building the nanomsg lib. and all subsequent ones.  Doing a recursive clone and then running with rebuild-deps, allowed the build to complete.

[2017-03-23 18:54] damonbarry commented on #181
@WilliamBerryiii We don't support building for Visual Studio 2014 from a **VS2017** dev cmd prompt. We also don't yet support building for Visual Studio 2017; I'm working on that right now.

Also, if the `--rebuild-deps` argument fixed whatever your problem was, then you likely had an inconsistency in your environment to begin with (e.g., you previously built for x86 and now you're trying to build

[2017-03-23 18:54] #181 closed

[2017-03-27 08:37] RahulKate opened #185 "error C2065: '_M_AMD64': undeclared identifier"
Executing command via developer command prompt for 2015

Command: build.cmd --enable-dotnet-binding

Attached both files as,
[CMakeOutput.zip](https://github.com/Azure/azure-iot-gateway-sdk/files/871853/CMakeOutput.zip)
[CMakeError.zip](https://github.com/Azure/azure-iot-gateway-sdk/files/871855/CMakeError.zip)

CMakeError.Log
---------------------

Determining if the _M_AMD64 exist failed with th

[2017-03-27 12:49] Senthamizhgp opened #186 "Field gateway support for OpenWrt platform"
My current platform is OpenWrt and hence I am trying to build the IOT Azure field gateway under the OpenWrt platform. Does the current version support OpenWrt platform as I couldn't see it in the documentation? If yes, can you provide the steps/procedure to port the field gateway to OpenWrt platform or is there any beta version already available. If no, are there plans to support for the OpenWrt p

[2017-03-27 15:53] WilliamBerryiii commented on #181
@damonbarry thanks for the info.

[2017-03-27 16:21] damonbarry commented on #186
No the gateway SDK doesn't currently support OpenWrt. You should be able to port it using the guide [here](https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/porting_guide.md).

[2017-03-27 16:24] damonbarry commented on #185
Can you include the common line output?

[2017-03-27 16:34] damonbarry commented on #181
@WilliamBerryiii FYI, I checked in support for VS2017 on Friday (commit: c1687a8839ea78dedbe77cb96fa6909a79f1d246). Check it out!

[2017-03-27 17:33] aribeironovaes commented on #185
@RahulKate Can you confirm that you are trying to build from a "Developer Command Prompt for VS2015"?
We saw this error before and it's usually because you are not running from a Developer Command Prompt.

Let us know,

Angelo Ribeiro.

[2017-03-27 18:38] WilliamBerryiii commented on #181
@damonbarry sweet! will do.

[2017-03-28 07:18] Senthamizhgp commented on #186
Thanks.
Further based on the following link, I could understand that Azure IOT device SDK (not field gateway SDK) supports for OpenWrt platform. Is that understanding right?

https://github.com/Azure/azure-iot-device-ecosystem/blob/master/get_started/openwrt-arduino-yun-c.md

If yes, are there any plans for porting the existing field gateway SDK to support OpenWrt platform in the nearby futher or

[2017-03-28 16:36] damonbarry commented on #186
Yes, I believe the device SDK does have a port to OpenWRT. But no, we don't have any plans to port the gateway SDK to that OS right now. Contributions are always welcome, though! 😉

[2017-03-29 04:59] RahulKate commented on #185
Attached all files as,

![buildoutput](https://cloud.githubusercontent.com/assets/13742253/24439196/5c45926e-146a-11e7-8d26-60106084f208.PNG)
[buildoutput.txt](https://github.com/Azure/azure-iot-gateway-sdk/files/877846/buildoutput.txt)

[CMakeError.zip](https://github.com/Azure/azure-iot-gateway-sdk/files/877851/CMakeError.zip)
[CMakeOutput.zip](https://github.com/Azure/azure-iot-gateway-sdk/file

[2017-03-29 11:11] gerrik84 opened #191 "cmake with cpp"
Hello,

i would like to change the simulated_device sample and add some of my own moduls. all of them are coded in c++ .h/.cpp. Is it possible to do that by cmake like

set(simulated_device_sources
./src/simulated_device.c
./gpsdevice/GpsModule.cpp
...

set(simulated_device_headers
    ./inc/simulated_device.h
    ./gpsdevice/TAM_GpsModule.h
...

[2017-03-30 04:07] RahulKate commented on #185
@damonbarry

Attached all required files, could you please check and guide me for further step ahead....

[2017-03-30 15:00] damonbarry commented on #185
@Azure/iot-gateway-devs

[2017-03-30 16:08] aribeironovaes commented on #185
Hi @RahulKate ,

The whole team is on a 2 days events, so expect some delay. As soon as we can we will take a look into your logs and give you some guidance.

Thanks,

Angelo Ribeiro.

[2017-03-30 16:10] aribeironovaes commented on #191
Hi @gerrik84 ,

So, If I understood you correctly, you want to change the Simulated_device_sample to add some of your own module?

So, here is my suggestion.
If you want to change the current simulated module (not creating a new one) you can definetly change the current simulated module as a POC.

If you are adding a new module, I would suggest to make a copy of any of our samples that looks like

[2017-03-30 23:15] zafields opened #193 "IdentityMapper does not report failure when "source" property is not present."
It fails silently, and simply does not forward messages to the Azure IoT Hub

[2017-03-31 17:33] jorgedfe commented on #90
ahidaka please can you help me? because, I have the same problem. How to fixed the error?

Error: Time:Thu Mar 30 22:03:42 2017 File:/home/sanitas01/azure-iot-gateway-sdk/modules/ble/src/ble_gatt_io_linux_read.c
Func:BLEIO_gatt_read_char_by_uuid Line:151 g_tree_lookup() failed.

[2017-03-31 20:21] aribeironovaes commented on #185
Hi @RahulKate ,

So, I've searched a little bit on what could be causing your problem and I bumped into this Stack Overflow problem:
http://stackoverflow.com/questions/40989776/building-azure-iot-gateway-sdk-solution-with-cmake-utility

The other people that had the same problem as yours usually were not running on Developmend command, but it's not your can. Can you try to reduce the size of your

[2017-04-02 05:59] ahidaka commented on #90
Note that I think that Bluez is not so stable at this time.
Please check this.
1. Reboot your board (Raspberry Pi 3?).
2. Stop and start bluetooth service as followings.
$sudo systemctl stop bluetooth
$sudo systemctl start bluetooth
$sudo rfkill unblock Bluetooth
3. Check the list-attibute result of bluetoothctl as followings.
$bluetoothctl

if you cannot connect or receive list-attribute status,

[2017-04-02 06:08] ahidaka commented on #90
I will give you another advice. Check your gateway_sample.json file carefully.
"macAddress" and "device_mac_address" in json file should be the same.
The both are your Sensor-Tag address as followings.
      "args": [
        {
          "macAddress": "A0:??:??:??:??:??",

      "args": {
        "controller_index": 0,
        "device_mac_address": "A0:??:??:??:??:??",

[2017-04-02 15:55] gerrik84 commented on #191
Hi,

thanks for your answer, so yes i wana add some of my own moduls all written in c++ i will create a shared object to access all of my methods.... that shared object will be listed in the cmake file. so that should work for interacction between c and c++ i guess ?

[2017-04-03 07:19] RahulKate commented on #185
Same error occurred,
One more additional information --> My development machine is Windows 7 64 bit, Does it causes this issues?

Below are the output files
----------------------------

[CMakeFiles.zip](https://github.com/Azure/azure-iot-gateway-sdk/files/889211/CMakeFiles.zip)

[2017-04-03 10:58] fastflame opened #194 "build.cmd assumes incorrect location of azure_iot_gateway_sdk.sln"
When build.cmd is executed from the command prompt, azure_iot_gateway_sdk.sln is assumed to be in "project root"\build

MSBUILD : error MSB1009: Project file does not exist.
Switch: azure_iot_gateway_sdk.sln

azure_iot_gateway_sdk.sln is actually in the "project root" directory
when executing  msbuild /m /p:Configuration="Debug" /p:Platform="Win32" azure_iot_gateway_sdk.sln  in the root, build suc

[2017-04-03 20:13] vslepakov opened #195 "build.cmd --enable-nodejs-binding failing on windows 10 x64"
Hi all,

when I run build.cmd --enable-nodejs-binding it fails with:

CMake Warning:
  Manually-specified variables were not used by the project:

    CMAKE_BUILD_TYPE

-- Build files have been written to: C:/Projects/azure-iot-gateway-sdk/deps/iot-sdk-c/build
-- Installing azure_iot_sdks. Please wait...
CMake Error at gatewayFunctions.cmake:170 (message):
  Error installing azure_iot_sdks: 1
Call

[2017-04-04 13:57] Zuendelmeister opened #196 ".Net Core Module Microsoft.Azure.Devices.Gateway.dll can't be added to references"
Hi Guys,

I´m trying to build my own Core module. I used the dotnet_core_module_sample example. Here "Creating your own module" says "Add Reference to Microsoft.Azure.Devices.Gateway DLL."
I have a problem adding exactly that Microsoft.Azure.Devices.Gateway.dll. When trying to add this to references I get the following Error:

Unfortunately I don't know how to include this dll in a NuGet package.

[2017-04-05 17:14] aribeironovaes commented on #161
Hi @AdamMachera.
Problem found and PR created to fix this issue.

[2017-04-05 17:16] aribeironovaes commented on #196
HI @Zuendelmeister ,
So, hand in there regarding the Nuget Package. We will have a nuget package soon for .NET Core.
Regarding how to add, Microsoft.Azure.Devices.Gateway DLL, you should add the project or, in case of Linux, add the Microsoft.Azure.Devices.Gateway project as a dependency.
I believe on .NET Core you can't add a Managed DLL directly into your project..

Try to do the samething we do

[2017-04-05 17:27] aribeironovaes commented on #195
Hi @vslepakov,

My suggestions are:
1-Make sure you have a clean build (delete build folder and also do a git clean -xdf (be carefull with this command if you have uncommitted files, you may lose them).
2-Make sure you ran build_nodejs.cmd and also that you have all your environments variable for node;
3-than run this build command.

If after this you still have the problem let us know. Sometime I

[2017-04-05 18:02] aribeironovaes commented on #194
Hi @fastflame ,

So, I just run build.cmd from tools folder and I can confirm that I have an azure_iot_gateway_sdk.sln genered on folder "project root"\build.

So, I'm not sure what are you facing, can you let me know where in the hello_world readme file says it builds the solution in the root?

Are you going to folder "project root"\tools and running build.cmd?

Let us know,

Angelo Ribeiro.

[2017-04-06 17:15] aribeironovaes commented on #191
Hi @gerrik84 ,

Yep, that would work without a problem. We have some samples (including bindings) that we mix C and CPP. Take a look, try it out and let us know if you have any problem.

Thanks,

Angelo Ribeiro.

[2017-04-07 04:20] RahulKate commented on #185
@Angelo Ribeiro

Same error occurred,
One more additional information --> My development machine is Windows 7 64 bit, Does it causes this issues?

output files attached in above post

[2017-04-07 05:33] aribeironovaes commented on #185
Hi Rahul,

I am out of ideas. It can be because of windows 7, but o would thinks it is due to your visual studio installation. It must be something missing...

Is it possible that you are missing some pre-requisites or some tooling on your environment?

Angelo Ribeiro

Sent from my phone

[2017-04-07 09:12] gerrik84 commented on #191
thx that worked fine for me... there is just one problem with the binary when i wana use it as a service....

i'm running a custom build yocto on my edison, i also use a modem with gps capabilities connected by uart (MFD1).
I have a bunch of services running and all work fine but when it comes to my gps service it fails on startup... when i start the binary manuely on the shell everything works fi

[2017-04-07 16:32] aribeironovaes commented on #177
Hi @ddobric, Closing this issues since we haven't heard back.
If you still have problem feel free to reactivate.
Thanks
Angelo Ribeiro.

[2017-04-07 16:32] #177 closed

[2017-04-07 16:34] aribeironovaes commented on #167
Closing this issue. See last Release.

[2017-04-07 16:34] #167 closed

[2017-04-10 05:15] RahulKate commented on #185
Does anyone tried and successfully build these library on windows 7 or windows 8.1 ?

[2017-04-10 06:44] Zuendelmeister commented on #196
Hi @aribeironovaes,
thank you so much for your answer. I was a little confused because the documentatin told me to add the dll reference. Now I opened your solution and created a new Dotnet Core module under "Modules". This seems to work quite fine.
I´m getting an error though.
MSB4019	The imported project "C:\Program Files\dotnet\sdk\1.0.1\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Prop

[2017-04-10 13:59] janfl opened #202 "aziotsharedutil not build correct"
When building the sdk as Release the aziotsharedutil.dll output file still have references to ucrtbase**d**.dll and vcruntime140**d**.dll

Should it reference the files actual installed together with the Visual C++ 2015 Redist?

[2017-04-10 16:58] aribeironovaes commented on #202
Hi @janfl ,

When you build for release, did you build from a clean enlistment of you just switched from Debug to RElease?

The reason I'm asking is that, on this scenario you should use the option --rebuild-deps.

Please, try this option and let us know if you still see this issue. If you see we would have debug and see why.

Thanks for using Azure IoT Gateway SDK,

Angelo Ribeiro.

[2017-04-10 18:56] damonbarry commented on #185
I don't think we've tried recently. I'll spin up a 64-bit Windows 7 VM and see what I find.

[2017-04-11 05:44] Zuendelmeister commented on #196
Ok now it works. Had to add a global.json
For everyone having the same issue:

  "sdk": { "version": "1.0.0-preview2-1-003177" }
}
 After that I had another issue with a missing lock file. Solution war to cd to the project folder (where the global.json is) und use this command:

I hope this helps. Best regards
Zuendelmeister

[2017-04-11 07:16] yfakariya opened #203 "TargetFrameworkVersion of Microsoft.Azure.Devices.Gateway package"
Hi team,

I'm using gwsdk .NET Core binding in part of my solution which is built as `netstandard1.4` based class libraries to enable unit testing on .NET Framework toolset.
However I cannot use the binding as is because the `Microsoft.Azure.Devices.Gateway`'s target framework version is currently `netstandard1.6` nevertheless it does not depend on any features require `netstandard 1.6`.

I cannot

[2017-04-11 14:07] aribeironovaes commented on #203
Hi Yusuke,

I don't know if we can go too low because of the version of the SDK.

But my suggestion would be for you to try it out, change on the project and test it out.

Let us know if it works and we can check on our side or you can submit a PR as well.

Thanks!

Angelo Ribeiro

Sent from my phone

[2017-04-11 14:37] yfakariya commented on #203
Hi @aribeironovaes, thank you for quick response.
As far as my environment, I succeeded to change `<TargetFrameworkVersion>` to `netstandard1.1` and it looked fine (can be compiled and it just works). It is OK to make PR when I finish extra testing.

But I don't understand well about meaning of your "the version of the SDK". If it means `NetStandard.Library` package version, there are no problem t

[2017-04-11 19:41] damonbarry commented on #185
I installed 64-bit Windows 7 SP1 on a VM. I also installed Visual Studio Community 2015 (with the VC++ option), and the latest Git and CMake. Then I opened a Developer Command Prompt for VS2015 and ran:
[code]
The build completed successfully. I was also able to run dotnet_binding_sample successfully:
[code]
...and it printed the right output to the screen.

@RahulKate Do you see any interesting d

[2017-04-12 08:32] janfl commented on #202
I'll try it out and let you know

[2017-04-12 12:02] RahulKate commented on #185
Thank you for your experiment, may be I need to re-check VS2015 installations.
I will post results of the same.....

[2017-04-13 22:45] #161 closed

[2017-04-13 22:48] damonbarry commented on #203
We'll change our `<TargetFrameworkVersion>` to `netstandard1.3` (because we depend on the device SDK, and that's what it supports). We'll get this checked into `master` soon.

[2017-04-14 09:30] ddobric commented on #177
The solution was to build with --platform x64.

[2017-04-14 09:36] ddobric opened #212 "UWP Example"
Hi all,

do we have somewhere in the repo an UWP example?
I have built dotnet core example and tried to reference required assemblies from UWP app. It crashes without any meaningful error on start of the app.
This usually indicates that some referenced assemblies are incompatible.

Thanks

[2017-04-14 14:55] yfakariya commented on #203
Thank you!

[2017-04-14 17:28] aribeironovaes commented on #212
HI @ddobric,

It's on the list of enhancement: https://github.com/Azure/azure-iot-gateway-sdk/issues/47
UWP not supported yet.
But feel free to dig in and submit a PR for UWP support.

Thanks,

Angelo Ribeiro.

[2017-04-14 21:13] aribeironovaes commented on #196
Hi @Zuendelmeister,

So, quick question. Did you follow this doc and got  the sample working, before you add your module?
https://github.com/Azure/azure-iot-gateway-sdk/blob/master/samples/dotnet_core_module_sample/README.md

Another suggestion that you can that you can follow is to use our newly created Nuget Package for Module Development:
https://www.nuget.org/packages/Microsoft.Azure.Devices.G

[2017-04-15 14:06] Zuendelmeister commented on #196
Hi again @aribeironovaes

thanks for your response. To your first question: Yes I used this tutorial. And everything worked fine. I just couldn't write my own module. The second part "Add Reference to Microsoft.Azure.Devices.Gateway DLL." did not work.

I just tried to install the package but no luck as well (package could not be found):

PM> Install-Package Microsoft.Azure.Devices.Gateway.Module

[2017-04-15 14:33] aribeironovaes commented on #196
Hi @zuendelmeister,

Yes, the latest version of .net core requires visual Studio 2017. It won't work with 2015.

If you meed to use lates version but can't install VS 2017 you can use .NET CORE CLI.

Let me know,

Cheers

Angelo Ribeiro

Sent from my phone

[2017-04-17 13:21] Senthamizhgp opened #213 "Build failure on tools\build.cmd on Windows 7 machine (Visual studio 2015), 64bit machine"
OS : Windows 7, 64 bit
VS version : VS 2015 Enterprise edition
Obtained a clone of the latest repository. Ran the build.cmd using the Developer Command prompt and resulted in the following error log. Visual C++ packages are installed.
Note : Referred to an already existing issue pointing to use developer command prompt but didn't resolve the issue for me
https://github.com/Azure/azure-iot-gateway-

[2017-04-17 15:23] Senthamizhgp commented on #213
Just to make a note that I am currently using the Developer command prompt to build the IOT Field gateway

[2017-04-17 16:32] damonbarry commented on #194
No activity...closing.

[2017-04-17 16:32] #194 closed

[2017-04-17 16:33] damonbarry commented on #195
No activity...closing.

[2017-04-17 16:33] #195 closed

[2017-04-17 16:41] damonbarry commented on #213
Sounds like a duplicate of #185. That issue is still open--we suspect something is messed up with the user's VS installation, but we're waiting to hear back...

[2017-04-17 16:47] darobs commented on #191
Hi @gerrik84, something I just thought of: did you happen to build the project with the option "run_as_a_service" set to ON?  I suspect that the sample is attempting to do a getchar() when running as a service, and I'm pretty sure that will just return immediately...  causing the gateway to shutdown right after coming up.

If you set the "run_as_a_service" option in the build, the sample should re

[2017-04-18 06:24] Zuendelmeister commented on #196
Hi again,

now I'm jumping between two problems. When trying to add the project I get ether:
1.0.0-preview2-003131:
No executable found matching command "dotnet-add"
or
1.0.1:
The imported project "C:\Program Files\dotnet\sdk\1.0.1\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Props" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on dis

[2017-04-18 14:02] Senthamizhgp commented on #213
Currently I have installed Visual Studio 2015 Enterprise edition. Do you suspect any missing package during VS installation is the cause for this issue? If yes, can you provide the suspicious package name so that I can reinstall that package alone.
An alternative option would be to re-install the VS 2015 once again. Let me know your thoughts